body{min-width: 1170px;}
.mbox {
  max-width: 1920px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1170px; }
  .mbox .header-box {
    background-image: url("../images/header_background.png");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 140px;
    vertical-align: top;
    position: relative;
    min-width: 1170px;
    background-position: center center; }
    .mbox .header-box .convert-header {
      position: relative;
      z-index: 1; }
    .mbox .header-box .user {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      padding-top: 33px;
      margin-left: 22px; }
    .user-image{
        display: table;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        height: 50px;
        width: 50px;
        margin: 0 auto;
    }

    .user-image .imageconvert{
        display: table-cell;
    }
    .user-image .imageconvert{
        vertical-align: middle;
    }
      .mbox .header-box .user .user-name {
        font-size: 14px;
        font-family: 'indisplay', sans-serif;
        font-weight: bold;
        color: #f4ecce; }
    .mbox .header-box .convert-stats {
      display: inline-block;
      padding-top: 35px;
      margin-left: 6px; }
      .mbox .header-box .convert-stats .stats {
        display: inline-block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 50.5px -2.402px 160px -24px rgba(209, 197, 3, 0.59);
        -moz-box-shadow: 50.5px -2.402px 160px -24px rgba(209, 197, 3, 0.59);
        box-shadow: 50.5px -2.402px 160px -24px rgba(209, 197, 3, 0.59);
        padding-top: 16px;
        margin-left: 20px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
        .mbox .header-box .convert-stats .stats .time-box {
          display: block;
          text-align: left;
          margin-right: 25px; }
          .mbox .header-box .convert-stats .stats .time-box img {
            float: left;
            margin-left: 20px;
            padding-top: 5px; }
          .mbox .header-box .convert-stats .stats .time-box .time {
            display: inline-block;
            margin-left: 5px;
            font-family: 'indisplay', sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: #ae7b48; }
        .mbox .header-box .convert-stats .stats .people-box {
          display: block;
          text-align: left;
          padding-bottom: 20px; }
          .mbox .header-box .convert-stats .stats .people-box img {
            float: left;
            margin-left: 20px;
            padding-top: 5px; }
          .mbox .header-box .convert-stats .stats .people-box .people {
            display: inline-block;
            margin-left: 5px;
            font-family: 'indisplay', sans-serif;
            font-size: 13px;
            font-weight: 200;
            color: #fff6d7; }
    .mbox .header-box .rating {
      display: inline-block;
      margin-left: 2.6%;
      vertical-align: top;
      padding-top: 63px; }
      .mbox .header-box .rating a  {
        text-decoration: none;
        color: #fdcc85;
        display: inline-block;
        margin-right: 5px; }
      .mbox .header-box .rating a:hover{
          outline: none;
          text-decoration: none;
      }
      .mbox .header-box .rating a .rating-user{
            padding-left: 10px;
            color: #DB8D0D;
      }
      .mbox .header-box .rating .convert-resurses {
        display: inline-block; }
        .mbox .header-box .rating .convert-resurses .resurses {
          display: inline-block;
          vertical-align:middle;
          margin-right: 45px; }
          .mbox .header-box .rating .convert-resurses .resurses img{
            position:relative;
            top:-10px;
          }
          .mbox .header-box .rating .convert-resurses .resurses div{
            position: relative;
            top:-10px;
          }
          .mbox .header-box .rating .convert-resurses .resurses .gold {
            color: #fef502;
            display: inline-block;
            margin-left: 5px; }
          .mbox .header-box .rating .convert-resurses .resurses .silver {
            color: #d1dee7;
            display: inline-block;
            margin-left: 5px; }
          .mbox .header-box .rating .convert-resurses .resurses .lighting {
            color: #048ecf;
            display: inline-block;
            margin-left: 10px; }
    .mbox .header-box .button-PRO-convert {
      padding-top: -webkit-calc((136px - 53px )/ 2 );
      padding-top: -moz-calc((136px - 53px )/ 2 );
      padding-top: calc((136px - 53px )/ 2 );
      padding-bottom: -webkit-calc((136px - 53px )/ 2 );
      padding-bottom: -moz-calc((136px - 53px )/ 2 );
      padding-bottom: calc((136px - 53px )/ 2 );
      display: inline-block;
      float: right;
      z-index: 100;
      margin-right: 35px; }
      .mbox .header-box .button-PRO-convert a.button-push {
        text-decoration: none; }
        .mbox .header-box .button-PRO-convert a.button-push .button-PRO {
          background-image: url("../images/header_button1.png");
          width: 124px;
          height: 53px;
          text-align: center;
          -webkit-transition: all 0.5s linear;
          -moz-transition: all 0.5s linear;
          -o-transition: all 0.5s linear;
          transition: all 0.5s linear; }
          .mbox .header-box .button-PRO-convert a.button-push .button-PRO p {
            font-family: 'indisplay', sans-serif;
            font-weight: bold;
            color: #573204;
            font-size: 14px;
            padding-top: 17px; }
          .mbox .header-box .button-PRO-convert a.button-push .button-PRO:hover {
            text-shadow: 1px 1px 2px yellow, 0 0 1em yellow; }

.typesubmit {
  display: none !important; }
.kliping-words {
    color: #ffb000;

    -webkit-animation-name: kliping;
  -moz-animation-name: kliping;
  -o-animation-name: kliping;
  animation-name: kliping;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.content-top-wrap .dragon-image .dragon-middle .glaz {
  pointer-events: none;
  position: absolute;
  top: 95px;
  left: 290px;
  opacity: 0;
  -webkit-animation-name: glaz;
    -moz-animation-name: glaz;
    -o-animation-name: glaz;
    animation-name: glaz;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes glaz {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-moz-keyframes glaz {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-o-keyframes glaz {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@keyframes glaz {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-webkit-keyframes kliping {
  0%, 100% {
    color: #ffb000; }
  50% {
        color: red; } }
@-moz-keyframes kliping {
  0%, 100% {
    color: #ffb000; }
  50% {
        color: red; } }
@-o-keyframes kliping {
  0%, 100% {
    color: #ffb000; }
  50% {
        color: red; } }
@keyframes kliping {
  0%, 100% {
    color: #ffb000; }
  50% {
        color: red; } }


.content-card-item-main{ width: 145px; height: 212px; background-image: url(../images/left-menu-img.png); background-size: 145px 212px;
    background-repeat: no-repeat; background-position: center center; position: relative; border-radius: 5px; overflow: hidden;
    .hovered-items{ position: absolute; width: 100%; text-align: right; bottom: -78px; transition: all 0.3s ease-out;
        .card-game-status {height: 20px; width: 100%; margin-bottom: 5px;
            img{height: 20px; width: 20px;  display: inline-block; margin-right: 5px; }
        }
        .card-name-property{ background-image: url(../images/plashkaforname.png); width: 100%;height: 20px; background-size: 145px 20px; text-align: center;
            p{color: white; font-size: 12px;padding-top: 2px; }
        }
        .block-describe{background-image: url(../images/background-hover-describe.png); width: 100%; height: 58px; text-align: left; display: table; padding-top: 3px; overflow: hidden;
            .block-image-describe{display: table-cell; background-image: url(../images/content-center-img.png); background-position: center; width: 40px; height: 40px;  background-size: 40px 40px; background-repeat: no-repeat; vertical-align: middle; text-align: middle;}
            .block-text-describe{ font-size: 10px; color: #642e11; padding-bottom: 5px; display: table-cell; vertical-align: middle; height: 20px; padding-right: 3px;
                p{max-height: 40px;}
            }
        }
    }
    &:hover{
        .hovered-items{bottom: 0px;}
    }
    .label-power-card{background-image: url(../images/logo-label-card.png); background-repeat: no-repeat; background-size: 40px 50px; position: absolute; top: 0; height: 50px; width: 35px; left: 10px; font-family: 'indisplay',sans-serif; font-weight: 900; font-size: 15px; color:#494949; padding-top: 10px; }

}
@media screen and (max-width: 1366px){
    .content-card-item-main{ width: 125px; height: 180px; background-size: 125px 180px;
       .hovered-items{  bottom: -80px;}
    }
}
.hidden-block {
    position: absolute;
     left: -9999999em;
     top: -99999999em;
}

#call_success{
  position: relative;
}
#call_success:before{
  content:'';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  background-image:url(../images/preloader-market.gif);
  background-repeat:no-repeat;
  background-position:center center;
  opacity: 0;
  z-index: 0;
  transition:opacity 300ms ease 0ms;
}
#call_success.loading:before{
  opacity:1;
  z-index: 2;
  transition:opacity 300ms ease 300ms;
}
#call_success.loading .call-success{
  opacity: 0;
  transition:opacity 300ms ease 0ms;
}
#call_success .call-success .call_success .call-title.call-title-message{
  display: none;
}
#call_success.done .call-success .call_success .call-title{
  display: none;
}
#call_success.done .call-success .call_success .call-title.call-title-message{
  display: table-cell;
}
#call_success .call-success{
  background-color: transparent;
  position:relative;
  z-index: 1;
  width: 400px;
  height: 250px;
  transition:opacity 300ms ease 300ms;
  border-style: solid;
  border-width: 38px 56px;
  -moz-border-image: url(../images/content-card-field-center-border.png) 38 56 round;
  -webkit-border-image: url(../images/content-card-field-center-border.png) 38 56 round;
  -o-border-image: url(../images/content-card-field-center-border.png) 38 56 round;
  border-image: url(../images/content-card-field-center-border.png) 38 56 fill round; }
  #call_success .call-success .call_success {
    background-image: url(../images/fon.jpg);
    background-position: center center;
    height: 174px;
    display: table;
    text-align: center;
    margin: 0 -20px;
    width: 327px; }
    #call_success .call-success .call_success .call-title {
      font-size: 24px;
      color: #d8ac4a;
      display: table-cell;
      vertical-align: middle; }

        .call-subtitle{padding-top: 20px;}

      .call-subtitle a{display: inline-block; text-decoration: none; color: #573204; }
      .call-subtitle a:hover{color: #573204; text-decoration: none; text-shadow: 1px 1px 2px yellow, 0 0 1em yellow;}

      .button-accept, .button-not-accept{
        background-image: url("../images/header_button1.png");
        width: 124px;
        height: 53px;
      }
      .button-push-confirm{padding: 10px;}

      .button-accept{margin-right: 20px;}
      .button-not-accept{margin-left: 20px;}



.wrap-play{width: 100%; min-width: 1170px;}
.convert-left-info{ width: 300px; display: inline-block;
    .cards-bet{ padding: 10px 0 10px 25px; text-align: middle;position: relative;z-index: 10;

        ul li{display: inline-block; vertical-align: top;  width: 124px; height: 174px; background-color: transparent;border-radius: 2px; border: 2px solid transparent; -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.52); -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.52); box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.52); margin: 0 20px 0 0 ; cursor: pointer;
            &:nth-child(2){margin: 0;}

            .nothinh-for-swap{background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.58) 0%,  transparent  100%); background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0, 0.58) 0%, transparent 100%); background-image: -ms-linear-gradient( 90deg, rgba(0,0,0, 0.58) 0%,  transparent  100%); box-shadow: inset 0px 2px 9.2px 0.8px rgba(0, 24, 8, 0.004); width: 120px; height: 170px;}
            .card-init{ background-image: url(../images/card-op-bg.png);  background-size: 120px 170px; width: 120px; height: 170px;border-radius: 3px;}
            .card-my-init{ background-image: url(../images/card-my-bg.png);  background-size: 120px 170px; width: 120px; height: 170px;border-radius: 3px; position: relative; z-index: 1;
            }
        }
    }
    .card-description{ padding: 10px; height: 465px;
      .content-card-item-main{
          .label-power-card{width: 68px;height: 101px;background-size:77px 101px;font-size: 24px;padding-top: 28px;}
          .hovered-items{
              .card-game-status{
                  span{width: 40px;height: 40px;}
                  .card-game-status-role{
                      span{width: 50px;height: 50px;display: block;}
                  }
              }
              .card-name-property{
                  p{font-size: 20px;}
              }
          }
      }
      #notSortableOne li{margin-top: 0 !important;}
        #notSortableOne .content-card-item {width: 100% !important;margin-right: 0;
            .content-card-item-main {width: 100%; height: 420px; background-size: 100% 100%;margin-top: 0 !important;
                .hovered-items .card-game-status{height: 35px;
                    img{height: 35px; width: 35px;}
                }
            }

        }
    }
}
.field-battle{ width: calc(100% - 316px);  display: inline-block;  border-style: solid; border-width: 12px; border-image: url(../images/border-index.png) 12 fill round; background-size: 100% 100%;background-image: url(../images/bg-bf.png); overflow: hidden;
}
.convert-battle-front{ display: inline-block; width: calc(100% - 303px); vertical-align:  top; padding-left: 20px; padding-top: 32px;
    .content-card-item-main{
        .hovered-items{
            .card-game-status{
                span{width:15px;height: 15px;}
            }
        }
    }
    .convert-cards{
        .convert-card-box{
            .convert-stuff{ width:100%; position: relative;

                .convert-one-field{ display: inline-block; width: calc(100% - 100px); margin-bottom: 15px; height: 100px;-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);-moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75); box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 0px 0px 8px 1px rgba(255,255,255,0.73); -moz-box-shadow: 0px 0px 8px 1px rgba(255,255,255,0.73); box-shadow: 0px 0px 8px 1px rgba(255,255,255,0.73); height: 100px;
                    .field-for-cards{ overflow: hidden; border-style: solid; border-width: 3px; border-style: solid; border-width: 0px 13px; -moz-border-image: url(../images/border-field.png) 0 13 repeat; -webkit-border-image: url(../images/border-field.png) 0 13 repeat; -o-border-image: url(../images/border-field.png) 0 13 repeat; border-image: url(../images/border-field.png) 0 13 repeat;height: 100%;

                        ul{
                          li{
                            .content-card-item-main{display: inline-block;height: 100px!important;width: 90px!important;
                              .hovered-items{
                                .card-game-status{
                                  span{width: 11px;height: 11px;}
                                }
                              }
                            }
                          }
                        }

                        .image-inside-line{background-image: url(../images/lcimg.png);height: 100px; width:80px; background-size: 167px 172px; background-position: center center; -webkit-box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.75);-moz-box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.75);box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.75); float: left;}

                        .fields-for-cards-wrap{display: inline-block; width: calc(100% - 80px); height: 100px;position: relative;z-index: 1;
                          .fields-for-cards-img{width: 80px; height: 80px; border-radius: 50%; position: absolute; left: calc(50% - 80px/2); z-index: 2; background-color: rgba(0,0,0,0.4); top: 10px;box-shadow: 0px 0px 2px 2px rgba(255,255,255,0.1),  inset 0px 0px 6px 3px rgba(0,0,0,0.6);}
                        }
                        .inputer-field-meele{
                          .bg-img-meele{background-image: url(../images/slash-bg.png); background-position: -27px -27px;}
                        }
                        .inputer-field-range{
                          .bg-img-range{background-image: url(../images/look-bg.png); background-position: center center;}
                        }
                        .inputer-field-super-renge{
                          .bg-img-super-renge{background-image: url(../images/slash-bg.png); background-position: -27px -27px;}
                        }
                    }
                }
                .field-for-sum{position: relative; z-index: 5; display: inline-block; height: 60px; width: 60px; margin:20px 15px;  border-radius: 50%; border: 3px solid white;  background-color: #b9b9b9;-webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.4);-moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.4);box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.4); text-align: center;font-family: 'indisplay',sans-serif; font-weight: 900; font-size: 32px; color: white; vertical-align: top; padding-top: 7px;

                }
                &:before{content: ''; position: absolute; z-index: 1; top: 30px; right: 60px;  width: 0; height: 0; border-style: solid; border-width: 20px 30px 20px 0;border-color: transparent #ffffff transparent transparent; }
            }
        }
    }
    .mezdyline{ width: 100%; height: 2px; -webkit-box-shadow: 0px 0px 5px 1px rgba(255,213,0,0.75); -moz-box-shadow: 0px 0px 5px 1px rgba(255,213,0,0.75); box-shadow: 0px 0px 5px 1px rgba(255,213,0,0.75); background-color:rgba(255,213,0,0.75); margin-bottom: 15px; }

    .user-card-stash{height: 120px; vertical-align: top; text-align: center;}
}
#sortable-user-cards{height: 100%; text-align: center;
    .content-card-item{margin-bottom: 0px;height: 100%; margin-right: 0;
        &.moving-card{transition:all 400ms ease;}
        .content-card-item-main{width: 110px; height: 100%;background-size: 100% 100%;
            .label-power-card{ background-size: 30px 37px; height: 37px; width:27px; font-size: 12px; padding-top: 8px;}

            .hovered-items {bottom: 0;
                .card-name-property{display: none;}
                .block-describe{display: none;}
                .card-game-status img {height: 14px; width: 14px;}
            }
        }
    }
}

// one line item
.can-i-use-useless{height: 100%; text-align: center; position: relative; z-index: 3;
    li{position: absolute;top:0;transition:left 300ms ease, transform 300ms ease;
      &.content-card-item{width: auto;}
    }
    .content-card-item{margin-bottom: 0px;height: 100%; margin-right: 0;
        .content-card-item-main{width: 110px; height: 100%;background-size: 100% 100%;
            .label-power-card{ background-size: 30px 37px; height: 37px; width:27px; font-size: 12px; padding-top: 8px;}

            .hovered-items {bottom: 0;
                .card-name-property{display: none;}
                .block-describe{display: none;}
                .card-game-status img {height: 14px; width: 14px;}
            }
        }
    }
}
#sortable-cards-field-more{ margin-right: 10%;
  .content-card-item{width: 30%;}
}

.user-card-stash{ width: 100%;
  .timer-for-play{width: 130px; float: left;
    .title-timer{color: rgb(233, 12, 1); text-transform: uppercase;font-size: 12px; font-family: 'indisplay', sans-serif; font-weight: 400; line-height: 20px; padding-bottom: 10px;}
    .timer-tic-tac-convert{ width:130px; margin: 0 auto;  padding: 3px; border: 2px solid transparent;font-size: 30px; font-family: 'indisplay', sans-serif; font-weight: 400; line-height: 25px; color: #f6f2cb;box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.73), inset 0px 0px 8px 4px rgba(0, 0, 0, 0.75);
      .tic-tac{box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.2), inset 0px 0px 8px 4px rgba(0, 0, 0, 0.75); border: 2px solid transparent;padding-top: 10px; padding-bottom: 10px; position: relative; height: 49px;
          .tic-tac-wrap{position:absolute; width:100%; text-align: center;}
      }
    }
  }

  .buttons-block-play{width: 124px;float: right;
    .button-push{ display: block;    background-image: url("../images/header_button1.png"); width: 124px;height: 53px;text-align: center; text-decoration: none; margin-bottom: 5px;
      &:hover {text-shadow: 1px 1px 2px yellow, 0 0 1em yellow;}
      .button-pass, .button-giveup{font-family: 'indisplay', sans-serif; font-weight: bold;color: #573204;font-size: 14px;padding-top: 17px;}
    }
  }
  #sortable-user-cards{width: calc(100% - 260px); display: inline-block;}
}




// #useless-card-stash1, #useless-card-stash2,
#useless-card-oponent-stash1, #useless-card-oponent-stash2 {text-align: center;  display: inline-block; vertical-align: top; margin: 0 10px;
  .content-card-item{width: 124px; height: 174px; margin-bottom: 0px; margin-right: 0; display: inline-block;
    .content-card-item-main{width: 100%; height: 100%;background-size: 100% 100%;
      .label-power-card{ background-size: 30px 37px; height: 37px; width:27px; font-size: 12px; padding-top: 8px;}

      .hovered-items {bottom: 0;
        .card-name-property{display: none;}
        .block-describe{display: none;}
        .card-game-status img {height: 14px; width: 14px;}
      }
    }
  }
}

.convert-right-info{ width: 313px; display: inline-block; height: 300px;  vertical-align: top;
    .useless-card{box-shadow: 0px 0px 28.2px 11.8px rgba(158, 99, 38, 0.27), inset 0px 0px 28.2px 11.8px rgba(158, 99, 38, 0.27); border: 2px solid transparent; padding: 5px;
      .inside-for-some-block{width: 100%;height: 120px;box-shadow: inset 0px 2px 9.2px 0.8px rgba(0, 24, 8, 0.004);border: 5px solid transparent; background-image: url(../images/valknut.png); background-position: center center; background-repeat: no-repeat;}
    }
  }
.oponent-describer{padding-top: 3px;}
.stash-about{ box-shadow: 0px 0px 28.2px 11.8px rgba(158, 99, 38, 0.27), inset 0px 0px 28.2px 11.8px rgba(158, 99, 38, 0.27); border: 2px solid transparent; position: relative;

    .power-element{ position: absolute; width: 60px; height: 60px;  border-radius: 50%; background-color: white; border: 4px solid #aeb3b2; text-align: center; left: 10px; top: 10px; box-shadow: inset 0px 0px 12px 2px rgba(56,54,53,1);
        .power-text{font-family: 'indisplay',sans-serif; font-weight: 900; font-size: 37px; color: #494949; padding-top: 4px; }
    }
    .oponent-discribe{ display: inline-block; width: 220px; height: 100%; padding-left: 60px;padding-top: 40px; padding-bottom: 15px;
      .image-oponent-ork{background-image: url(../images/rasaork.png); width: 102px; height: 102px; margin-left: 20px; }
      .circle-status{ width: 134px; height: 134px;  border-radius: 50%; box-shadow: 0px 0px 28.2px 11.8px rgba(158, 99, 38, 0.27),inset 0px 0px 28.2px 11.8px rgba(158, 99, 38, 0.27);}
      .naming-oponent, .naming-user{ padding-top: 20px; font-family: 'indisplay',sans-serif; text-align: center;
        .name{ color: #fdcc85; font-weight: 400px; font-size: 20px;}
        .rasa{color: #ad8150; font-weight: 400px; font-size: 15px;}
      }
    }
    .oponent-stats, .user-stats { float: right;vertical-align: top; text-align: center; width: 88px;
        .stats-power{ padding-top: 18px; padding-bottom: 20px;
          .pover-greencard{ display: block;  text-align: center;
            img{width: 50px; height: auto;}
            .greencard-num{color:#28da77;display: block; font-family: 'indisplay',sans-serif;  font-size: 23px; padding-top: 15px;}
          }

        }
        .stats-shit{background-image: url(../images/fert.png); height: 57px; width: 100%; background-position: center center; background-size: 47px 57px; background-repeat: no-repeat;}

    }
}
.mezhdyblock{ width: 100%; border: 2px solid transparent; box-shadow: inset 0px 0px 2px 2px rgba(72, 40, 24, 0.61); padding: 3px;
    .bor-beutifull-box{width: 100%; height: 130px; box-shadow: inset 0px 0px 35px 5px rgba(56, 33, 22, 0.75); border: 5px solid transparent; background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.58) 0%, transparent 100%);

    }

}

.wrap-play{
    .content-top-wrap{
        .tabulate-image { background-image: url("../images/poloska-skm.png"); height: 7px; }
        .dragon-image{
            .dragon-middle-wrap{ z-index: 10;
                .dragon-middle{top: -73px;z-index: 10;
                    .glaz{width: 44px; top: 57px; left: 179px;}
                    .dragoon{width: 405px;}
                }
            }
        }
    }
}


.another-header-wrap{
     .header-box .rating {    padding-top: 0px;}
    .header-box .convert-stats {padding-top: 0px}
    .header-box .user {padding-top: 0px;}
    .header-box .button-PRO-convert{padding: 0;}
}

.another-header-wrap{
    .header-box .convert-header {
        .rating{padding-top: -webkit-calc((71px - 19px )/ 2 );}
        .forms-language{ float: right; width: 150px; margin-top: 0px; padding-top: -webkit-calc((71px - 22px )/ 2 );padding-right: 20px; }
        .button-PRO-convert{ float: right;  padding-top: -webkit-calc((71px - 53px )/ 2 );}
    }
}

.convert-battle-front .convert-cards.user .convert-card-box .convert-stuff .field-for-sum{background-color: #faf1e4; color: #494949;}

#svg {transform: rotate(-90deg);}

#svg circle { transition: stroke-dashoffset 1s linear; stroke: transparent; stroke-width: 6px;stroke: #dc2821; }
#svg #bar-user { stroke-dashoffset: 150px;}
#svg #bar-oponent{stroke-dashoffset: 350px; }

.circle-status { display: block; border-radius: 100%; position: absolute; top: 14px; left: 72px;}

.circle-status:after {position: absolute; display: block;height: 142px; width: 142px; left: -4px;top: 3px; box-shadow: inset 0 0 1em black;  content: ''; //content: attr(data-pct)"%";
  border-radius: 100%;  line-height: 160px; text-shadow: 0 0 0.5em black;}
  .circle-status:before {position: absolute; display: block;height: 120px; width: 120px; left: 6px;top: 13px; box-shadow: 0 0 1em black;  content: ''; //content: attr(data-pct)"%";
  border-radius: 100%;   text-shadow: 0 0 0.5em black;}



.card-my-init, .card-init{ position: relative;
  .convert-otboy-cards{ width: 124px; position: absolute; bottom: 20px; left: 0; z-index: 0; height: 174px; opacity: 0; transition: all 0.5s;
    #otboy-cards-list, #cards-take-more-list{width: 120px;position: absolute;bottom: 0;
     .content-card-item{height: 0px; transition: all 0.5s; }
   }
    ul li{width: 110px;}
  }
}

#otboy-cards-list, #cards-take-more-list{
  .content-card-item {box-shadow: none; width: 100%;height: 0px;  transition: all 0.3s; position: relative; z-index: 1;margin-right: 0;
    .content-card-item-main{height: 150px;width: 116px;position: absolute;bottom: 0;background-size: 116px 150px;}
  }
}

.card-my-init{ transition: all 2s;}

#card-give-more-user li:hover, #card-give-more-oponent li:hover {
  .convert-otboy-cards{z-index: 5; opacity: 1;bottom: 20px; left: 0; height: auto; overflow: visible;
    #otboy-cards-list, #cards-take-more-list{width: 124px;
     .content-card-item{width: 120px; height: 60px; }
    }
  }
}

#swap-conteiner{height: 300px;
  #otboy-cards-list, #cards-take-more-list{ width: 100%;
    .content-card-item { width: 20%;  height: 130px;}
  }
}

.card-otboy-counter, .card-take-more-counter {position: absolute; bottom: -18px; left: calc(50% - 50px/2); font-size: 16px; font-weight: 200; font-family: 'indisplay', sans-serif; z-index: 2; background-image: url(../images/counter-bg.png); color: #f0d4ba;  width: 58px; height: 44px; padding: 9px 12px 7px 5px; text-align: center;
  .counter{background-color: rgba(0,0,0,0.2); padding-top: 3px;box-shadow: inset 0px 3px 4.9px 0.1px rgba(0, 24, 8, 0.62);}
}
#sortable-user-cards {position: relative; z-index: 5;
  li{transition: transform 0.3s ease, left 300ms ease;position: relative; transform:translateY(0);
    &.content-card-item{position: absolute;width: auto;}
  }
  li:hover{z-index: 5;transform:translateY(-40px);}
}

.grayscl{filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");   filter: gray; -webkit-filter: grayscale(100%);
}

.user .field-for-cards{box-shadow: inset 0px 0px 50px 4px rgba(0, 0, 0, 0.75);
    &:hover{ position: relative; overflow: visible !important;
    &:after{position: absolute; content: ''; left: -25px; top: -5px; right: -25px; bottom: -5px; background-color:rgba(255, 255, 0, 0.1); }
    &:before{ content: '';  position: absolute; left: -40px;  top: -15px; bottom: -53px; right: -41px;background-image: url("../images/border.png");
    background-size: 100% 130px; background-repeat: no-repeat;}
  }
}
.unselectable-row{box-shadow: inset 0px 0px 129px 50px rgba(0, 0, 0, 0.5);}
#sortable-user-cards .content-card-item:last-child {width: 110px;}
#notSortableOne {opacity: 0; position: relative; z-index: 10;transition:opacity 400ms ease;
  &.show{opacity: 1;}
  .chossen-card{
    &.moving-card{position: absolute;top: 0;left: 0;transition:all 400ms ease;}
  }
}
#notSortableOne .chossen-card{position: absolute; top: 0; left: 0; transition: all 0.5s; z-index: 25;}
#notSortableOne .move-nigga{top: 293px;left: 177%;transform: scale(0.4, 0.28);}

/*
.can-i-use-useless{position: relative;
    li{position: absolute!important;transition:left 300ms ease, transform 300ms ease!important;}
}
*/

.main_page .content-wrap .rase {overflow: hidden; position: relative;width: 100%; height: 830px;
    img{position: absolute; z-index: -1;}
}


#look-for-oponent{ padding-top: 180px;}

  .look-wrap{width: 480px; height: 316px; background-color: black;border-style: solid;  margin: 0 auto; border-width: 12px;border-image: url(../images/border-index.png) 12 fill round; position: relative; text-align: center; padding-top: 33px;
    &:after{content: ''; position: absolute; width: 460px; height: 197px; top: -119px; left: calc(50% - 440px/2);background-image: url(../images/dragoon-fancy.png); background-size: 100% 100%; }
    .head-text{font-size: 21px; font-weight: 400; font-family: 'indisplay', sans-serif; color: #fdcc85; text-transform: uppercase; padding-bottom: 20px;}
    .progress-bar{width: 100%; height: 5px; background-color:#341e14; }
    .button-leave{width: 80%; margin: 0 auto; }
    .time-block{ width: 100%;
        .named-field{font-size: 15px; font-weight: 400; font-family: 'indisplay', sans-serif; color: #fdcc85; line-height: 34px;}
        .timer-go{font-size: 21px; font-weight: 400; font-family: 'indisplay', sans-serif; color: #ffa315; }
    }
    .timer-pass-time{padding-top: 5px;}
    .timer-fake{padding-bottom: 15px;}
  }
#choose-rase-block{padding-top: 77px;
    .conteiner-rase{ width: 540px; height: 430px; padding-bottom: 20px;
        ul li {float: left; width: 30%; margin: 0 calc(10%/6); padding-bottom: 20px;
            img{display: block; max-width: 80px; height: auto; margin: 0 auto;}
        }
    }
}

.another-header-wrap .header-box { min-height: auto;}
.content-top-wrap .dragon-image .dragon-middle { z-index: 10;}

.content-wrap-serch{height: auto; width: 100%;
     .rase{position: relative; width: 100%; background-image: url(../images/main_bg_1.jpg); background-size: 100% 100%; background-repeat: no-repeat; background-position: center center;  height: 830px;
     }
}

.form-wrap .settings_form .form-title{font-weight: 500; font-size: 24px;}
.call-popup .fancybox-close{display: none !important;}
.call-popup.fancybox-opened .fancybox-skin{box-shadow: none;}


.agree-field{ width: 100%;
    a{display: block; width: 100%; text-align: center; font-size: 16px; color: white;}
    input[type="checkbox"]{width: 0; height: 0; opacity: 0; position: absolute; visibility: hidden; overflow: hidden;}
    input[type="checkbox"]:checked ~ label>.kvadratic{background-color: red;}
    label{ width: 100%; text-align: center; display: block;
        .kvadratic{ width: 10px; height: 10px; background-color: white;}
        span{font-size: 18px; color: white;}
    }
}

.form-wrap .form-wrap-row .form-wrap-value .false-field{background-color: red; }


.error-recapture {box-shadow: inset 0px 0px 5px 0px red; border-radius: 5px; overflow: hidden;}

// popoup register

#popup-agree{width: 500px; height: 500px; overflow: hidden; background-color: white;
  .texter{ font-family: 'indisplay',sans-serif;
    &>*{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}
    h6{/*font-weight: 800;font-size: 24px;*/margin-bottom: 15px;line-height: 30px;font: 400 48px/48px 'ArialNarrow';color: #c0c0c0;}
    p{display: block;margin-before: 1em;margin-after: 1em;margin-start: 0px;margin-end: 0px;    -webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
    strong, b {font-weight: bold;}
    i, cite, em, var, address, dfn {font-style: italic;}
    li {display: list-item;text-align:match-parent;text-align: -webkit-match-parent;}
    ul, menu, dir {display: block;list-style-type: disc;margin-before: 1em;margin-after: 1em;margin-start: 0px;margin-end: 0px;padding-start: 40px;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 40px;}
    ol {display: block;list-style-type: decimal;margin-before: 1em;margin-after: 1em;margin-start: 0px;margin-end: 0px;padding-start: 40px;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 40px;}
    table {display: table;border-collapse: separate;border-spacing: 2px;border-color: grey;}
    tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}
    tr {display: table-row;vertical-align: inherit;border-color: inherit;}
    td, th {display: table-cell;vertical-align: inherit;}
    blockquote {display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 40px;-webkit-margin-end: 40px;margin-before: 1em;margin-after: 1em;margin-start: 40px;margin-end: 40px;}
    blockquote, q {quotes: inherit;}
  }
}


/* old form */

/* forms content */
  .not-main{
      .form-autorize-main{position: relative;margin-bottom: 20px;
          .form-autorize-item, .form-autorize-show-more{display: inline-block;vertical-align: middle;margin:0 5px 0 5px;cursor:pointer;position: relative;
              a{display: inline-block;position: relative;
                  img{position: relative;z-index: 0;}
                  img.hover-img{position: absolute;top:0;left:0;z-index: 1;opacity: 0;transition:opacity 300ms ease;-webkit-transition:opacity 300ms ease;-moz-transition:opacity 300ms ease;-ms-transition:opacity 300ms ease;}
                  &:hover img.hover-img{opacity: 1;}
              }
          }
          .form-autorize-show-more{
              .form-autorizr-more-icon{width: 35px;height: 35px;display: inline-block;border-radius: 50%;background-color:#999999;position: relative;transition:background-color 300ms ease;-webkit-transition:background-color 300ms ease;-moz-transition:background-color 300ms ease;-ms-transition:background-color 300ms ease;
                  &:before{content: '';position: absolute;left:calc(50% - 7px);top:calc(50% - 5px);display: block;width: 0;height: 0;border-width: 9px 7px 0 7px;border-style:solid;border-color: #fff transparent transparent transparent;transform-origin:50% 40%;-webkit-transform-origin:50% 40%;transition:transform 300ms ease;-webkit-transition:-webkit-transform 300ms ease;-moz-transition:transform 300ms ease;-ms-transition:transform 300ms ease;}
              }
              .form-autorize-more{padding:5px 5px 5px 5px;background-color: rgba(132,132,134,.8);position: absolute;z-index:-100;right:0;top: 100%;opacity: 0;transition: opacity 300ms ease;-webkit-transition: opacity 300ms ease;-moz-transition: opacity 300ms ease;-ms-transition: opacity 300ms ease;
                  .form-autorize-more-item{width: 35px;height: 35px;}
              }
              &:hover{
                  .form-autorizr-more-icon{background-color:orange;
                      &:before{transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);}
                  }
                  .form-autorize-more{opacity: 1;z-index: 1;}
              }
          }
      }

      .form-block{min-height: 100vh;background-image: url(../images/forms-footer-bg.jpg);background-position: center bottom;
      }
      .forms-main{position: relative;margin-top: -57px;z-index: 1;overflow: hidden;height: 860px;text-align: center;
        .forms-img{position: absolute;left: 0;top: 0;right: 0;bottom: 0;
              img{max-width: none;margin-left: 50%;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);}
        }
      }

      .form-wrap{min-width: 470px;display: inline-block;vertical-align: middle;position: relative;
          border-style: solid;border-width: 37px 55px 37px 54px;-moz-border-image: url(../images/content-card-field-center-border.png) 37 55 37 54 repeat;-webkit-border-image: url(../images/content-card-field-center-border.png) 37 55 37 54 repeat;-o-border-image: url(../images/content-card-field-center-border.png) 37 55 37 54 repeat;border-image: url(../images/content-card-field-center-border.png) 37 55 37 54 fill repeat;
          .form-wrap-main{margin:0 -20px;background-image:url(../images/fon.jpg);background-position: center center;padding:25px 15px 25px 15px;}
          .form-title{font-weight: 200;font-size: 30px;color:#d8ac4a;margin-bottom: 15px;text-align:center;transform:translateZ(0);}
          .form-description{font-weight: 200;font-size: 18px;color:#fff;text-align: center;margin-bottom: 20px;}
          .form-wrap-for-rows{display: inline-block;text-align: right;}
          .form-wrap-row{margin-bottom: 10px;
              &:last-child{margin-bottom: 0;}
              &.submit{padding-top: 10px;}
              .form-wrap-key{font-weight: 200;font-size: 16px;color:#d8ac4a;display: inline-block;vertical-align: middle;}
              .form-wrap-value{display: inline-block;vertical-align: middle;width: 265px;padding-left: 15px;
                  input{width: 100%;border-radius: 3px;background-color: rgba(134,132,132,.45);font-size: 16px;color:#fff;font-weight: 200;line-height: 38px;height: 38px;padding:0 15px;border:1px solid transparent;
                      &:focus{outline:none;}
                  }
                  textarea{width: 100%;border-radius: 3px;background-color: rgba(134,132,132,.45);padding: 10px 10px 10px 10px;font-size: 16px;color:#fff;resize:none;border-color:transparent;
                      &:focus{outline: none;}
                  }
                  .jq-selectbox{width: 100%;
                      .jq-selectbox__select{height: 38px;background:none;background-color: rgba(134,132,132,.45);border:none;box-shadow:none;
                          .jq-selectbox__select-text{text-align: left;font-weight: 200;font-size: 16px;color:#fff;text-shadow:none;-webkit-text-shadow:none;line-height: 38px;height: 38px;padding-left: 5px;}
                          .jq-selectbox__trigger{border-left: 0;
                              .jq-selectbox__trigger-arrow{border-width: 7px 7px 0 7px;border-style:solid;border-color:#a6a6a6 transparent transparent transparent;}
                          }
                      }
                      .jq-selectbox__dropdown{margin-top: -10px;background-color: #bbb8b6;border:none;border-radius: 3px;overflow: hidden;padding:5px 0 5px 0;
                          li{text-align: left;font-size: 16px;color:#505050;padding:5px 20px 5px 15px;position: relative;line-height: 18px;min-height: 0;
                              &:last-child{margin-bottom: 0;}
                              &.selected{
                                  &:before{content: '';display: block;position: absolute;right: 5px;top: calc(50% - 8px);background-image:url(../images/valid-icon.png);width: 15px;height: 15px;}
                              }
                              &:hover{color:#fff;background-color: orange;}
                          }
                      }
                      &.yellow-font{
                          .jq-selectbox__select{
                              .jq-selectbox__select-text{color:#d8ac4a;}
                          }
                      }
                  }
              }

          }
          .placeholder-form{
              .form-wrap-value{padding-left: 0;}
          }
          .error-text{display: none;text-align: center;font-size: 14px;color:#e62323;font-weight: 200;margin-bottom: 15px;transform: translateZ(0);
              &.show{display: block;}
              &.hide-it{display: none!important;}
          }
      }

      .form_row{
          .form_input{position: relative;
              input::-webkit-input-placeholder {color:#d8ac4a;}
              input:-moz-placeholder {color:#d8ac4a;}
              input::-moz-placeholder {color:#d8ac4a;}
              input:-ms-input-placeholder {color:#d8ac4a;}
              .errorText{font-size: 0;color:transparent;position: absolute;width: 16px;height: 15px;display: block;right: -25px;top:50%;margin-top: -8px;background-repeat: no-repeat;background-position: center center;}
          }
          &.error{
              .form_input{
                  input, textarea{border-color: #89413d;}
              }
              .errorText{background-image:url(../images/error-icon.png);}
          }
          &.valid{
              .form_input:after{content:'';background-image:url(../images/valid-icon.png);display: block;right: -25px;top: 50%;margin-top: -8px;height: 15px;width: 15px;position: absolute;}
          }
      }

      .reCaptcha-wrap{margin-bottom: 20px;text-align: center;
          .g-recaptcha{margin-right: -20px;}
      }

      .form-button{position: relative;background-image:url(../images/button-background.png);display: block;border:none;padding:0;width: 100%;cursor: pointer;
          &:before, &:after{content:'';position: absolute;height: 53px;top: 0;}
          &:before{width: 69px;left: 0;background-image:url(../images/button-background-left.png);}
          &:after{width: 63px;right: 0;background-image:url(../images/button-background-right.png);}
          .form-button-hover{position: absolute;width: 100%;height: 100%;background-image:url(../images/button-background-hover.png);left: 0;top: 0;z-index: 1;opacity:0;transition:opacity 500ms ease;-webkit-transition:opacity 500ms ease;-moz-transition:opacity 500ms ease;-ms-transition:opacity 500ms ease;
              &:before, &:after{content: '';position: absolute;height: 53px;top: 0;}
              &:before{width: 69px;left: 0;background-image:url(../images/button-background-left-hover.png);}
              &:after{width: 63px;right: 0;background-image:url(../images/button-background-right-hover.png);}
          }
          .form-button-text{display: inline-block;max-width: 263px;width: 100%;line-height: 53px;font-weight: 700;font-size: 14px;color:#571f02;padding:0 19px 0 19px;position: relative;z-index: 2;text-transform: uppercase;}
          &:hover .form-button-hover{opacity: 1;}
      }


      .form-links{max-width: 265px;width: 100%;margin: 0 auto;padding-top: 20px;
          .form-links-item{width: 50%;
              &.left{float: left;text-align: left;}
              &.right{float: right;text-align: right;}
              a{font-size: 14px;color:#fefefe;position: relative;font-weight: 200;text-decoration: none;
                  &:after{content: '';position: absolute;top: 100%;left: 0;height: 1px;background-color: #fff;width: 0;transition:width 300ms ease;-webkit-transition:width 300ms ease;-moz-transition:width 300ms ease;-ms-transition:width 300ms ease;}
                  &:hover:after{width: 100%;}
              }
          }
      }
  }

/* /forms content */
 /* old form */

/* login page */
  .login-page{
    .forms-main{ background-image: url(../images/login-bg.jpg); background-position: top center;
        .button-buy{border: none;}
        .conteiner-title{ text-align: center; position: relative;
          .button-dropdown{position: absolute; top: 0; background-color: red;}

        }
        .conteiner-form{ height: 400px; display: flex; align-items: center; align-content: center; justify-content: center; width: 100%;
          .form-wrap{ width: 350px; margin: 0 auto; border-radius: 5px;  background-color: rgba(0,0,0,0.7); border: 2px solid rgba(255,255,255,0.4);
              .form-wrap-main{
                  .form-description{ font-family: 'indisplay', sans-serif; text-align: center; font-size: 18px; line-height: 1.2; color: #e3ab06; font-weight: 400; padding: 25px 0 20px;}
                  .form-wrap-for-rows{ max-width: 214px; margin:  0 auto; padding-bottom: 10px; font-size: 14px; font-weight: 400; display: none;
                      p{color: #e3ab06 ; padding-bottom: 5px; padding-top: 10px;  }
                      input{ width: 100%; height: 33px; border: 1px solid rgba(255, 255, 255, 0.5);  border-radius: 3px; background-color:#f1ebd2;  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5);  padding-left: 5px; font-size: 14px; font-weight: 700; color: #571f02;  }
                      input.error{box-shadow: inset 0px 0px 5px 1px rgba(184,44,44,1); border-color: rgba(184,44,44,1); }
                      .errorText{display: none !important;}
                      .error-text{ padding: 10px 0 ; text-align: center;}
                  }
                  .form-links{
                    .right{ float: right;}
                    .form-links-item {padding-top: 5px;
                        a{font-size: 14px; font-weight: 200; line-height: 1.4; color: #e3ab06;text-decoration: none; transition: all 0.3s; text-decoration: underline;
                            &:hover{ text-decoration: none;}
                        }
                    }
                  }
                  .show-form-please{ margin-bottom: 20px;}
                  .form-wrap-row.error-text{ display:  none; }
                  .forms-language{margin: 0  auto;  text-align: center; height: auto; padding: 10px 0 20px;}
              }
          }
        }
    }

    /* race under-block */
      .row-with-rase{ width: 100%;
          .conteiner{max-width: 1170px; margin: 0 auto;  height: 180px; display: flex; align-items: center; justify-content: space-between; 
              .item-rise{ width: calc(100%/6); display: block;text-align: center; 
              .rase-ric{text-decoration: none;}
                span{display: block; text-align: center; text-transform: uppercase; color: #f1b621; font-family: "Arial", sans-serif; font-size: 16px; font-weight: 700; text-shadow: 2.121px 2.121px 29.44px rgba(0, 0, 0, 0.76);  }
              }
          }
      }
  }
    /* race under-block */


    /* button on login */

        .button-buy-next{ display: flex; align-items: center; justify-content: center; position: relative; background-image: url(/images/button-new-temple.png); background-size: cover; width: 214px; height: 53px; border: none; margin: 0 auto; cursor: pointer; text-decoration: none;
            .form-button-text{ display: block;  text-align: center; text-transform: uppercase; font-size: 14px; font-weight: 700; font-family: 'indisplay', sans-serif; padding-top: 5px; color: #571f02; margin: 0 auto; position: relative; z-index: 3; }

            .form-button-hover{ position: absolute; width: 80%; left: 10%; height: 0px; top: 50%; box-shadow: 0px 0px 30px 1px rgba(253,203,6,1); z-index: 2; transition: all 0.5s; }

            &:hover{
            .form-button-hover{  box-shadow: 0px 0px 30px 15px rgba(253,203,6,1); z-index: 2; }
            }

        }
    /* button on login */
    
    /* about on main */
    
        .button-dropdown{ position: absolute; right: calc(50% - 1170px/2); top: 93px; z-index: 11; transition: all 0.5s;}
        
        .convert-about{ position: absolute;  top: 57px; left: 0; right: 0; background-image: url(../images/forms-footer-bg.jpg); z-index: 10; display: none; margin-bottom: 30px;
            .contein{max-width: 1170px; margin: 0 auto; padding: 77px 0 120px; color: #ecbb2e;
                .title{ padding-right: 30px; font-size: 16px; font-weight: 700; font-family: 'Arial', sans-serif; padding-bottom: 18px; text-transform: uppercase; }
                .ctext{ padding: 0 60px; font-size: 16px; line-height: 1; font-family: 'Arial', sans-serif;
                    p{padding-bottom: 18px;}
                }
            }
            &::after { content: '';display: block;  position: absolute; left: 0; bottom: 0; width: 100%; height: 12px; background-image: url(../images/header_border.png);}
        }
        
    /* about on main */
/* login page */
