/*special-page*/
    .special-page-wrapp{
        .special-page-align{
            .card-wrapp{padding-top:141px;
                .card-align{ border-radius: 5px; border: 1px solid #b4781f;  overflow: hidden; width:343px; height: 530px; position: relative; margin: 0 auto;
                   .title{ position: relative; top:0; z-index: 100; background-image: url(../images/spec-card-titleBG.jpg); background-position: center center; background-repeat: no-repeat; height: 43px; text-align: right;padding: 9px 16px 0 0;
                        span{ color:#fdf8f4; font-size: 13.5px; line-height: 13.5px; font-weight: 500; font-family: 'indisplay' ; letter-spacing: 0.2px;
                            b{color:#ebac29; font-size: 25px; line-height: 25px;}
                        }
                        &:after{content: ''; display: block; width:100%; height: 12px; background-image: url(../images/special-card-row.png); background-repeat: repeat-x; background-position: left; bottom: -11px; position: absolute;}
                    }
                    img{max-width: none;position: absolute;left:50%; top:50%; transform:translate(-50%, -50%); }
                }
            }
        }
    }
/*END special-page*/
/*after-pay*/
    .after-pay-wrapp{ overflow: hidden; position: relative;
        .after-pay-align{    background-image: url("../images/after-payBG.jpg");     background-position: center center;    background-repeat: no-repeat;    width: 1920px;    height:100vh;
            .dialog-container{  width:100%; max-width: 456px; height: 209px; background-color: rgba(0,0,0,0.53); margin: 0 auto; position: relative;padding-top: 63px; border-radius: 5px; top:calc(50% - 87px);
                .title{text-align: center; padding-bottom: 31px;
                    span{color: #fdcc85; font-weight: 400; font-size: 30px; line-height: 30px; font-family: 'indisplay' ;     letter-spacing: 2.5px; }
                    img{vertical-align: top;     margin-top: 5px;     margin-right: 7px;}
                }
                &:before{ content: ''; background-image: url("../images/dragon-after-pay.png");     background-position: center center;    background-repeat: no-repeat; display: block; position: absolute; width:439px; height: 154px; top:-85px; left:calc(50% - 214px); }
                .buttons-row{ text-align: center;
                    a{display: inline-block; width:100%; height: 53px; background-image: url(../images/button-slide-full.png); background-repeat: repeat-x; background-position: left; max-width: 171px; position: relative; text-decoration: none; padding-top: 18px;
                        span{color: #571f02; font-weight: 700; font-size: 14px; line-height: 14px; font-family: 'indisplay' ; text-transform: uppercase; letter-spacing: 0.5px; }
                         i{ content: '';  display: inline-block;  background-repeat: no-repeat; background-position: center; background-image: url(../images/arrow-refresh.png); width: 13px; height: 13px; margin-right: 4px; }

                        &:nth-child(1){margin-right: 24px;
                            span{}
                            i{border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 5px solid #481a02; width: 0; height: 0; background-image: none;}
                        }
                    }
                }
            }
        }
    }
/*END after-pay*/