/*header*/

/*header*/
/*left-menu*/
.left-menu-wrapping{padding-top: 20px;
    .left-menu{background: url('../images/left-menu-bg.jpg') center center no-repeat;background-size: 100% 100%;position: relative;border-right:18px solid #4f4f51;border-image: url('../images/left-menu-border-right.png') 18 round round;-webkit-border-image: url('../images/left-menu-border-right.png') 18 round round;-moz-border-image: url('../images/left-menu-border-right.png') 18 round round;min-height: calc(100vh - 186px);
        &:after{width: 24px;height: 22px;content: "";position: absolute;top: -19px;right: -22px;background: url('../images/left-menu-top-plachka.png') center center no-repeat;}

        .left-menu-img{text-align: center;padding-top: 20px;
            img{display: inline-block;}
        }
        .nav-item{text-align: center;background-color: rgba(0, 0, 0, 0.40);max-height: 54px;position: relative;width: 100%;z-index: 2;
            &:hover,&.active{background-color: inherit;background-image: url(../images/left-menu-item-bg-hover.png);background-repeat: repeat-x;background-position: 100%;transition:left ease-out .3s;
                a{color: #ecbd53;}
                 &>.nav-item-two{left: 100%;opacity: 1;}
            }
            &.disabled{
                &:hover{
                    background-color: rgba(0, 0, 0, 0.40);background-image: none;
                }
                a{color: #ababab;}
                .nav-item-wrap{background: url('../images/left-menu-item-border-bg-disabled.png') center center no-repeat;background-size: 100% 100%;}
            }
            a{display: block;text-decoration: none;color: #fff6d7;font-size: 14px;font-family: 'indisplay',sans-serif;}
            .nav-item-wrap{padding: 17px 0px;display: block;background: url('../images/left-menu-item-border-bg.png') center center no-repeat;background-size: 100% 100%;
                span{}
            }
            /**/
            .nav-item-two{position: absolute;left: -110%;top: 0;z-index: 1;width: 100%;transition:left ease-out .3s;opacity: 0;transition:opacity ease-out .4s;
                .nav-item:hover{
                    .nav-item-three{left: 100%;z-index: 1;opacity: 1}
                }
            }
            .nav-item-two_wrap{padding-left: 18px;}
            /**/
            .nav-item-three{position: absolute;top: 0;left: -220%;max-width: 267px !important;width: 100%;transition:left ease-out .3s;z-index: -1;opacity: 0;transition:opacity ease-out .4s;
                .nav-item{z-index: 1;}
            }
        }
    }
}
.left-menu-bottom{/*padding-bottom: 77px;*/}
/*/left-menu*/

.content-top-wrap{
    .dragon-image{
        .dragon-middle-wrap{float: right;width: 82%;position: relative;}
        .dragon-middle{ position: absolute;top: -119px;left: 50%;transform: translateX(-50%);
            img{max-width: inherit;}
        }
    }
    .tabulate-image{background-image:url( "../images/header_border.png");height: 12px;}
}
/*content-top*/

/*/content-top*/

.content-card-wrap-main{border-style: solid;border-width: 12px;-moz-border-image: url(../images/border-index.png) 12 round;-webkit-border-image: url(../images/border-index.png) 12 round;-o-border-image: url(../images/border-index.png) 12 round;border-image: url(../images/border-index.png) 12 fill round;background: url('../images/content-card-wrap-main-bg.jpg') center center;background-size: 100% 100%;
    .content-card-top{background: url('../images/content-card-top-bg.jpg') center center no-repeat;border-bottom:12px solid #4f4f51;border-image: url('../images/content-card-top-border.png') 12 round round;-webkit-border-image: url('../images/content-card-top-border.png') 12 round round;-moz-border-image: url('../images/content-card-top-border.png') 12 round round;margin-top: -1px;background-size: cover;position: relative;z-index: 4;
        .content-card-left{width: 50%;float: left;text-align: center;padding: 20px 0px;}
        .content-card-right{width: 50%;float: left;text-align: center;padding: 20px 0px;}
        .content-card-description{display: inline-block;background-color: #2a2a2a;color: #fff;font-size: 20px;font-weight: 200;border-style: solid;border-width: 7px;-moz-border-image: url(../images/content-card-description.png) 7;-webkit-border-image: url(../images/content-card-description.png) 7;-o-border-image: url(../images/content-card-description.png) 7;border-image: url(../images/content-card-description.png) 7 fill;border-radius: 14px;
            .content-card-description-wrap{padding: 9px 15px;}
        }
    }
    .content-card-left{float: left;width: 42%;}
    .content-card-right{float: left;width: 42%;}
    .content-card-field-center{float: left;width: 16%;border-style: solid;margin-top: -37px;border-width: 38px 56px;-moz-border-image: url(../images/content-card-field-center-border.png) 38 56 round;-webkit-border-image: url(../images/content-card-field-center-border.png) 38 56 round;-o-border-image: url(../images/content-card-field-center-border.png) 38 56 round;border-image: url(../images/content-card-field-center-border.png) 38 56 fill round;}

    .content-card-field-center-wrap{margin: -1px -20px -11px;text-align: center;font-size: 17px;color: #d8ac4a;font-family: 'indisplay',sans-serif;min-height: 662px;background: url(../images/content-card-field-center-wrap-bg.jpg) center center no-repeat;background-size: cover;}
    .content-card-center-title{padding: 9px 4px;background: url('../images/content-card-field-center-wrap-bg-top.jpg') center center no-repeat;background-size: 100% 100%;}
    .content-card-center-block{padding: 0 2px;background-size: 100% 100%;}
    .content-card-center-img-wrap{background-color: #000;margin-bottom: 10px;}
    .content-card-center-checkbox{overflow: hidden;position: relative;display: flex;flex-direction:column;align-content:flex-start;justify-content:flex-start;text-align: left;padding-left: 13%;
        input[type=radio]{position: absolute;top: -9999px;
            &:checked{
                &+.card-center-checkbox:after,&+.card-center-checkbox:before{opacity: 1;}
            }
        }
        .card-center-checkbox{display: inline-block;height: 14px;width: 14px;border-radius: 2px;background: linear-gradient(to bottom, #e2a958 0%,#e2a958 33%,#a37748 100%);vertical-align: middle;position: relative;
            &:before{background-color: #000;width: 7px;height: 2px;content: '';position: absolute;top: 6px;left: 2px;transform: rotate(46deg);opacity: 0;}
            &:after{background-color: #000;width: 4px;height: 2px;content: '';position: absolute;top: 6px;left: 7px;transform: rotate(-50deg);opacity: 0;}
        }
        span{display: inline-block;vertical-align: middle;margin: 0 1px;}
    }
    .content-card-center-description-block{background-color: rgba(0, 0, 0, 0.25);margin: 0px 0px 6px;}
    .content-card-center-description-key{font-size: 15px;padding: 7px 0px;}
    .content-card-center-description-value{color: #f4e4bf;font-size: 15px;padding-bottom: 8px;}

    .content-card-field-top{position: relative;
        .content-card-field-top-left,.content-card-field-top-right{float: left;width: 42%;height: 1px;}
        .content-card-field-top-center{float: left;width: 16%;position: relative;height: 1px;
            &:after{position: absolute;content: "";/*height: 16px;*/width: calc(100% - 112px);transform: translateX(-50%);left: 50%;border-style: solid;border-width: 37px 56px 0px;-moz-border-image: url(../images/content-card-field-center-border.png) 37 56 0 repeat;-webkit-border-image: url(../images/content-card-field-center-border.png) 37 56 0 repeat;-o-border-image: url(../images/content-card-field-center-border.png) 37 56 0 repeat;border-image: url(../images/content-card-field-center-border.png) 37 56 0 fill repeat;top: -36px;z-index: 4;}
        }
    }

    .content-card-field-bottom{position: relative;
        .content-card-field-bottom-left, .content-card-field-bottom-right{float: left;width: 42%;height: 1px;}
        .content-card-field-bottom-center{float: left;width: 16%;position: relative;height: 1px;
            &:after{position: absolute;content: "";/*height: 16px;*/width: calc(100% - 106px);transform: translateX(-50%);-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);left: 50%;border-style: solid;border-width: 0px 53px 37px 52px;-moz-border-image: url(../images/content-card-field-center-border.png) 0 53 37 52 round repeat;-webkit-border-image: url(../images/content-card-field-center-border.png) 0 53 37 52 round repeat;-o-border-image: url(../images/content-card-field-center-border.png) 0 53 37 52 round repeat;border-image: url(../images/content-card-field-center-border.png) 0 53 37 52 round repeat;bottom: -36px;}
        }
    }
    .content-card-select-wrap{
        .jq-selectbox{width: 100%;}
        .jq-selectbox__select{border-radius: 4px;background: rgba(255,255,255, .2);height: auto;padding: 0px 9px;outline: none;box-shadow: none;text-shadow:none;color: white;border:none;text-align: left;font-family: 'indisplay',sans-serif;color: #000;font-size: 17px;
            &:hover,&:active{outline: none;box-shadow: none;}
            .jq-selectbox__trigger{border-left: none;border-radius: 4px;background: rgba(255,255,255, .15);}
            .jq-selectbox__trigger-arrow{border-top: 5px solid #2e2e2e;top: 50%;left: 50%;transform: translate(-50%, -50%);}
        }
        .jq-selectbox__dropdown{background-color: #252525;border:none;font-family: 'indisplay',sans-serif;border-radius: 4px;background: rgb(87, 87, 87);color: #000;
            li{font-family: 'indisplay',sans-serif;color: white;
                &:hover{background-color: #A3ABB1;color: #000;}
            }
            li.selected{color: #000;}
        }
        .jq-selectbox__select-text{user-select: none;}
    }
}

/*main page*/
.main_page{
    &.rase_1{
        .content-wrap .rase_1{display: block;}
    }
    .content-wrap{width: 85%;margin-right: 0;padding-top: 0;overflow: hidden;/*max-height: 831px;*/
        .rase{overflow: hidden;}
        img{/*max-width: none;*/}
    }
    .left-menu-wrapping {height: 100%;
        .left-menu{height: 100%;}
    }
    .left-menu-wrapping .left-menu:after{top: -21px;}


}

/*/main page*/


/*refil page*/
    .refil{
        .refil_title{color: #d8ac4a;font-size: 30px;padding-top: 35px;text-transform: uppercase;padding-left: 1%;font-family: 'indisplay',sans-serif;font-weight: 200;padding-bottom: 5px;
            span{padding-left: 5px;letter-spacing: 1.5px;}
        }
        .refil_top_form_wrap{text-align: center;padding-top: 40px;
            .refil_top_item{display: inline-block;vertical-align: top;width: 18%;background-color: rgba(0,0,0,.4);margin: 0 2%;font-size: 16px;color: #fff;height: 85px;border:1px solid #965c09;border-radius: 7px;
                &.refil_top_1{width: 24.3%;margin: 0 2.7% 0 1.5%;
                    .side_left{width: 60%;font-size: 18px;line-height: 30px;
                    }
                    .side_right{width: 40%;}
                }
                &.refil_top_2{
                    .side_left{width: 30%;font-size: 18px;}
                    .side_right{width: 75%;}
                }
                &.refil_top_3{margin: 0 0.9% 0 2.9%;width: 19.9%;
                }
                &.refil_top_4{width: 19.3%;margin: 0 2.3% 0 3.3%;
                    .side_left{width: 25%}
                    .side_right{width: 75%;
                        .refil_buy{font-size: 15px;}
                    }
                }
            }
            .refil_top_item_wrap{display: table;height: 100%;width: 100%;padding: 0 13px;box-sizing:border-box;}
            .refil_top_side{display: table-cell;vertical-align: middle;;width: 50%;box-sizing:border-box;font-size: 18px;line-height: 22px;}
            .refil_top_input{}
            .refil_top_input{text-align: center;
                input{max-width: 145px;display: inline-block;background-color: #453f3c;border:none;outline: none;padding: 5px 10px;border-radius: 5px;color: #d8ac4a;}
            }
            .refil_buy{color: #d8ac4a;font-size: 16px;text-transform: uppercase;background-color: #5a3506;border:1px solid #6c6764;border-radius: 5px;padding: 3px 15px;margin-top: 3px;display: inline-block;text-decoration: none;transition:all ease-out .3s;
                &:hover{color: #5a3506;background-color: #d8ac4a;}
            }
        }

        .refil_middle_form{padding-top: 84px;
            .refil_middle_head{border:1px solid #965c09;border-radius: 7px;box-sizing:border-box;background-color: rgba(0,0,0,.4);padding: 0.55% 3%;}
            .refil_middle_head_item{
                &.item_left{float: left;}
                &.item_right{float: right;}
                .refil_head_monitor{width: 23px;height: 23px;background: url('../images/refil_head_monitor.png') center center no-repeat;margin-right: 5px;}
                .refil_head_human{width: 23px;height: 23px;background: url('../images/refil_head_human.png') center center no-repeat;margin-right: 5px;}
                span{display: inline-block;vertical-align: middle;color: #d8ac4a;font-size: 16px;}
            }
            .refil_middle_body{text-align: center;padding-top: 50px;border: 1px solid #965c09;border-radius: 7px;box-sizing: border-box;background-color: rgba(0, 0, 0, 0.4);
                .refil_middle_item{vertical-align: top;height: 145px;border-radius: 4px;overflow: hidden;
                    width: 10%;display: inline-block;margin: 0 1.9%;margin-bottom: 50px;
                    a{display: block;color: #000;font-size: 18px;text-decoration: none;
                        &:hover{
                            .refil_middle_item_text{text-shadow:0 0 1px rgba(0,0,0, .3);}
                        }
                    }
                    .refil_middle_item_img{display: block;height: 115px;position: relative;background-color: #c0bab8;
                        img{position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;padding: 9px;}
                    }
                    .refil_middle_item_text{display: block;height: 30px;line-height: 30px;background-color: #f3f1f1;padding: 0 2px;}
                }
            }
        }
    }
/*/refil page*/

/*market page*/
.market-page{position: relative;z-index: -1;
    .selection-rase{text-align: center;padding: 35px 0 25px 0;vertical-align: middle;position: relative;
        &:before{content:'';display: block;position: absolute;width: 100%;height: 100%;z-index: 0;}
        .selection-rase-wrap{display: inline-block;position: relative;z-index:1;transition:opacity 300ms ease;
            &:hover{cursor: pointer;
                .jq-selectbox__trigger-arrow{border-top-color: #FFDC2E;}
            }
        }
        .jq-selectbox{width: 335px;}
        .jq-selectbox__select{height: 50px;padding: 0 58px 0 0px;background: transparent;border:none;outline: none;font-family: 'indisplay',sans-serif;color: #ecbd53;font-size: 16px;text-transform: uppercase;line-height: 45px;box-shadow: none;text-shadow:none;background-color: rgba(231,185,81, 0.2);
        }
        .jq-selectbox__select-text{height: 100%;background: url("../images/left-menu-item-border-bg.png") center center no-repeat;background-size: 100% 100%;}
        .jq-selectbox__trigger{border-left: none;width: 58px;background: url("../images/market_arrow.png") center center no-repeat;background-size: 100% 100%;
        }
        .jq-selectbox__trigger-arrow{position: absolute;top: 21px;right: 22px;width: 0px;height: 0;border-top: 7px solid #e7b951;border-right: 7px solid transparent;border-left: 7px solid transparent;
        }
        .jq-selectbox__dropdown{width: 83%;border:none;background: url('../images/market_select_bg.png') center center no-repeat;background-size: cover;}
        .jq-selectbox li{height: 50px;background: url("../images/left-menu-item-border-bg.png") center center no-repeat;background-size: 100% 100%;color: #ecbd53;font-size: 14px;line-height: 40px;text-transform: uppercase;
            &:hover{text-shadow:0 0 1px #ecbd53;}
        }
        .jq-selectbox li.selected{}
        .selection-rase-img{display: inline-block;height: 50px;width: 75px;background: url("../images/market_arrow.png") center center no-repeat;background-size: 100% 100%;vertical-align: bottom;margin-right: -3px;
            .selection-rase-img-wrap{position: relative;height: 100%;overflow: hidden;
                .select-rase-img{display: none;height: 100%;
                    &.active{display: block;}
                    img{position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);max-height: calc(100% - 17px);}
                }
            }
        }
    }

    .content-card-field-wrap{position: relative;
        &:before{content:'';display: block;position:absolute;top:calc(50% - 32px);left:calc(50% - 32px);width: 64px;height: 64px;background-image:url(../images/preloader-market.gif);background-repeat: no-repeat;opacity:0;z-index:1;transition:opacity 300ms ease 0ms;}
        .market-cards{position: relative;z-index: 2;transition:opacity 300ms ease300ms;}
    }

    &.loading{
        .selection-rase{
            &:before{z-index: 2;}
            .selection-rase-wrap{opacity: 0;}
        }
        .content-card-field-wrap{position:relative;
            &:before{content:'';opacity: 1;transition:opacity 300ms ease 300ms;}
            .market-cards{opacity: 0;z-index:0;transition:opacity 300ms ease 0ms;}
        }
    }

}
/*/market page*/

/*settings*/
.settings-page{text-align: center;padding-top: 85px;
    .form-wrap{min-width: 530px;
        .form-wrap-main{background-image: none;background-color: rgba(0,0,0,.4);padding: 15px 15px 20px 15px;}
        .form-wrap-row{margin-bottom: 7px;}
        .form-wrap-row .form-wrap-value{width: 275px;
            input:disabled{color: #B7B7B7;}
        }
        .form-description-settings-img-wrap{border-radius:50%;overflow: hidden;height: 79px;width: 79px;margin: 0 auto;
            img{}
        }
        .form-description-settings-inp-wrap{
            .jq-file{width: 120px;margin: 0 auto;position: relative;background: url('../images/settings_input_file.png') center bottom no-repeat;
                .jq-file__name{padding: 0;font-size: 12px;background: transparent;border:none;outline: none;font-family: 'indisplay',sans-serif;color: #ecbd53;font-size: 16px;box-shadow: none;text-shadow:none;}
                input[type="file"]{}
            }
            .jq-file__name{height: 50px;}
        }
    }
}
/*/settings*/

/*training page*/
.training-page{background-color: rgba(0, 0, 0, 0.4);color: white;border-radius: 7px;border: 1px solid #965c09;margin-top: 50px;padding: 30px;font-size: 16px;line-height: 1.1;
    .training-title{text-align: center;font-size: 35px;font-weight: bold;padding: 25px 0px;}
}
/*/training page*/

/*buy-gold-page*/
.buy-gold-page{height: calc(100% - 170px);border-image: url(../images/border-index.png) 12 fill round;background: url("../images/content-card-wrap-main-bg.jpg") center center;background-size: 100% 100%;border-style: solid;border-width: 12px;position: relative;
    .buy-gold-page-item{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);padding: 15px 20px;background-color: #fff;text-align: center;}

    .jq-number__field input{
        &.error{border-color:red;}
    }
}
/*/buy-gold-page*/