@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {

    $filepath: "../fonts/" + $file;

    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

/* fonts */

@include font-face('slick');
@include font-face('bootstrap-icon', 'glyphicons-halflings-regular');
@include font-face('indisplay','pfdindisplaypro-black',900);
@include font-face('indisplay','pfdindisplaypro-blackit',900, italic);
@include font-face('indisplay','pfdindisplaypro-bold',bold);
@include font-face('indisplay','pfdindisplaypro-BoldItalic',bold, italic);
@include font-face('indisplay','pfdindisplaypro-italic',normal, italic);
@include font-face('indisplay','pfdindisplaypro-light',300);
@include font-face('indisplay','pfdindisplaypro-lighttal',300,italic);
@include font-face('indisplay','pfdindisplaypro-med',500);
@include font-face('indisplay','pfdindisplaypro-medital',500,italic);
@include font-face('indisplay','pfdindisplaypro-reg');
@include font-face('indisplay','pfdindisplaypro-thin', 200);
@include font-face('indisplay','pfdindisplaypro-thinital', 200, italic);
@include font-face('indisplay','pfdindisplaypro-xthin', 100);
@include font-face('indisplay','pfdindisplaypro-xthinit', 100, italic);

/* /fonts*/