/* helping adds*/
.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

// перетри блять

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* base styles*/
html{height:100%}
body{min-height:100%;min-width:1280px;font-family: 'indisplay',sans-serif;font-size:12px;background:#fff;color:#3d3d3d;position:relative;background-image:url(../images/fon.jpg);background-position: center center;background-size: cover;}
img{vertical-align:bottom;border:0;max-width:100%;}
/* /base styles */
*{box-sizing: border-box;outline:none;}

/* icons styling*/
/* /icons styling*/


/* base typo*/
.ctext h1,.ctext h2,.ctext h3,.ctext h4,.ctext h5,.mainheading,.subheading,.thirdheading,.fourheading,.fiveheading{font-weight:normal;margin-bottom:1em;}
a{color:#12c;border:0;}
a:hover{color:#dd4b39;}
p{margin:0;}
.mainheading,.ctext h1{}
.subheading,.ctext h2{}
.thirdheading,.ctext h3{}
.fourheading,.ctext h4{}
.fiveheading,.ctext h5{}
.ctext p{margin:0 0 10px 0;}
.ctext ul{margin:10px 20px;}
.ctext p:last-child,.ctext ul:last-child{margin-bottom:0;}
.ctext table{border-collapse:collapse;}
.ctext table tr td,.ctext table{border:1px solid;}

.ctext{
    p{display: block;}
    strong, b {font-weight: bold;}
    i, cite, em, var, address, dfn {font-style: italic;}
    li {display: list-item;text-align:match-parent;text-align: -webkit-match-parent;}
    ul, menu, dir {display: block;list-style-type: disc;margin-before: 1em;margin-after: 1em;margin-start: 0px;margin-end: 0px;padding-start: 40px;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 40px;}
    ol {display: block;list-style-type: decimal;margin-before: 1em;margin-after: 1em;margin-start: 0px;margin-end: 0px;padding-start: 40px;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 40px;}
    table {display: table;border-collapse: separate;border-spacing: 2px;border-color: grey;}
    tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}
    tr {display: table-row;vertical-align: inherit;border-color: inherit;}
    td, th {display: table-cell;vertical-align: inherit;}
    blockquote {display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 40px;-webkit-margin-end: 40px;margin-before: 1em;margin-after: 1em;margin-start: 40px;margin-end: 40px;}
    blockquote, q {quotes: inherit;}
}
/* /base typo*/


/* wraps styling*/

.mbox{min-width:1280px;margin:0 auto;position:relative;z-index:1;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

.main{transform:translateZ(0px);position: relative;z-index: 1;}
.main_page{transform:translateZ(0px);position: relative;z-index: 1;}

/* /wraps styling*/


/*Layout*/

.left-menu-wrap{float: left;width: 15%;position: relative;z-index: 2;}
.content-wrap{float: right;width: 82%;margin-right: 1%;padding-top: 10px;position: relative;z-index: 1;}


.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;color:#646464;}
/*End Layout*/


::-webkit-input-placeholder {color:#212121;}
:-moz-placeholder {color:#212121;}
::-moz-placeholder {color:#212121;}
:-ms-input-placeholder {color:#212121;}
