.mbox {
  max-width: 1920px;
  box-sizing: border-box;
  min-width: 1280px;
}

.mbox .header-box {
  background-image: url("../images/header_background.png");
  background-repeat: no-repeat;
  width: 100%;
  vertical-align: top;
  position: relative;
  min-width: 1280px;
  background-position: center center;
}

.mbox .header-box .convert-header {
  position: relative;
  z-index: 1;
}

.mbox .header-box .user {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-top: 33px;
  margin-left: 22px;
}

.mbox .header-box .user .user-name {
  font-size: 14px;
  font-family: 'indisplay', sans-serif;
  font-weight: bold;
  color: #f4ecce;
}

.mbox .header-box .convert-stats {
  display: inline-block;
  padding-top: 35px;
  margin-left: 6px;
}

.mbox .header-box .convert-stats .stats {
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 50.5px -2.402px 160px -24px rgba(209, 197, 3, 0.59);
  padding-top: 16px;
  margin-left: 20px;
  border-radius: 10px;
}

.mbox .header-box .convert-stats .stats .time-box {
  display: block;
  text-align: left;
  margin-right: 25px;
}

.mbox .header-box .convert-stats .stats .time-box img {
  float: left;
  margin-left: 20px;
  padding-top: 5px;
}

.mbox .header-box .convert-stats .stats .time-box .time {
  display: inline-block;
  margin-left: 5px;
  font-family: 'indisplay', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ae7b48;
}

.mbox .header-box .convert-stats .stats .people-box {
  display: block;
  text-align: left;
  padding-bottom: 20px;
}

.mbox .header-box .convert-stats .stats .people-box img {
  float: left;
  margin-left: 20px;
  padding-top: 5px;
}

.mbox .header-box .convert-stats .stats .people-box .people {
  display: inline-block;
  margin-left: 5px;
  font-family: 'indisplay', sans-serif;
  font-size: 13px;
  font-weight: 200;
  color: #fff6d7;
}

.mbox .header-box .rating {
  display: inline-block;
  margin-left: 2.6%;
  vertical-align: top;
  padding-top: 63px;
}

.mbox .header-box .rating p {
  color: #fdcc85;
  display: inline-block;
  margin-right: 55px;
}

.mbox .header-box .rating .convert-resurses {
  display: inline-block;
}

.mbox .header-box .rating .convert-resurses .resurses {
  display: inline-block;
  margin-right: 45px;
}

.mbox .header-box .rating .convert-resurses .resurses .gold {
  color: #fef502;
  display: inline-block;
  margin-left: 5px;
}

.mbox .header-box .rating .convert-resurses .resurses .silver {
  color: #d1dee7;
  display: inline-block;
  margin-left: 5px;
}

.mbox .header-box .rating .convert-resurses .resurses .lighting {
  color: #048ecf;
  display: inline-block;
  margin-left: 5px;
}

.mbox .header-box .button-PRO-convert {
  padding-top: calc((136px - 53px )/ 2);
  padding-bottom: calc((136px - 53px )/ 2);
  display: inline-block;
  float: right;
  z-index: 100;
  margin-right: 35px;
}

.mbox .header-box .button-PRO-convert a.button-push {
  text-decoration: none;
}

.mbox .header-box .button-PRO-convert a.button-push .button-PRO {
  background-image: url("../images/header_button1.png");
  width: 124px;
  height: 53px;
  text-align: center;
  transition: all 0.5s linear;
}

.mbox .header-box .button-PRO-convert a.button-push .button-PRO p {
  font-family: 'indisplay', sans-serif;
  font-weight: bold;
  color: #573204;
  font-size: 14px;
  padding-top: 17px;
}

.mbox .header-box .button-PRO-convert a.button-push .button-PRO:hover {
  text-shadow: 1px 1px 2px yellow, 0 0 1em yellow;
}

.content-top-wrap .dragon-image .dragon-middle .glaz {
  position: absolute;
  top: 95px;
  left: 290px;
  opacity: 0;
  -webkit-animation-name: glaz;
  animation-name: glaz;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes glaz {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes glaz {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 1600px) {
  .mbox .header-box .rating .convert-resurses .resurses {
    display: block;
  }
  .mbox .header-box .rating {
    padding-top: 30px;
  }
  .mbox .header-box .rating p {
    vertical-align: top;
    padding-top: 30px;
  }
  .mbox .header-box .rating .convert-resurses .resurses {
    padding-bottom: 10px;
  }
}
