/*header*/
/*header*/
/*left-menu*/
.left-menu-wrapping {
  padding-top: 20px;
}

.left-menu-wrapping .left-menu {
  background: url("../images/left-menu-bg.jpg") center center no-repeat;
  background-size: 100% 100%;
  position: relative;
  border-right: 18px solid #4f4f51;
  border-image: url("../images/left-menu-border-right.png") 18 round round;
  -webkit-border-image: url("../images/left-menu-border-right.png") 18 round round;
  -moz-border-image: url("../images/left-menu-border-right.png") 18 round round;
  min-height: 810px;
}

.left-menu-wrapping .left-menu:after {
  width: 24px;
  height: 22px;
  content: "";
  position: absolute;
  top: -19px;
  right: -22px;
  background: url("../images/left-menu-top-plachka.png") center center no-repeat;
}

.left-menu-wrapping .left-menu .left-menu-img {
  text-align: center;
  padding-top: 70px;
}

.left-menu-wrapping .left-menu .left-menu-img img {
  display: inline-block;
}

.left-menu-wrapping .left-menu .nav-item {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  max-height: 54px;
  position: relative;
  width: 100%;
  z-index: 2;
  /**/
  /**/
}

.left-menu-wrapping .left-menu .nav-item:hover, .left-menu-wrapping .left-menu .nav-item.active {
  background-color: inherit;
  background-image: url(../images/left-menu-item-bg-hover.png);
  background-repeat: repeat-x;
  background-position: 100%;
  transition: left ease-out .3s;
}

.left-menu-wrapping .left-menu .nav-item:hover a, .left-menu-wrapping .left-menu .nav-item.active a {
  color: #ecbd53;
}

.left-menu-wrapping .left-menu .nav-item:hover > .nav-item-two, .left-menu-wrapping .left-menu .nav-item.active > .nav-item-two {
  left: 100%;
  opacity: 1;
}

.left-menu-wrapping .left-menu .nav-item.disabled:hover {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: none;
}

.left-menu-wrapping .left-menu .nav-item.disabled a {
  color: #ababab;
}

.left-menu-wrapping .left-menu .nav-item.disabled .nav-item-wrap {
  background: url("../images/left-menu-item-border-bg-disabled.png") center center no-repeat;
  background-size: 100% 100%;
}

.left-menu-wrapping .left-menu .nav-item a {
  display: block;
  text-decoration: none;
  color: #fff6d7;
  font-size: 14px;
  font-family: 'indisplay',sans-serif;
}


.left-menu-wrapping .left-menu .nav-item .nav-item-wrap {
  padding: 17px 0px;
  display: block;
  background: url("../images/left-menu-item-border-bg.png") center center no-repeat;
  background-size: 100% 100%;
}

.left-menu-wrapping .left-menu .nav-item .nav-item-two {
  position: absolute;
  left: -110%;
  top: 0;
  z-index: 1;
  width: 100%;
  transition: left ease-out .3s;
  opacity: 0;
  transition: opacity ease-out .4s;
}

.left-menu-wrapping .left-menu .nav-item .nav-item-two .nav-item:hover .nav-item-three {
  left: 100%;
  z-index: 1;
  opacity: 1;
}

.left-menu-wrapping .left-menu .nav-item .nav-item-two_wrap {
  padding-left: 18px;
}

.left-menu-wrapping .left-menu .nav-item .nav-item-three {
  position: absolute;
  top: 0;
  left: -220%;
  max-width: 267px !important;
  width: 100%;
  transition: left ease-out .3s;
  z-index: -1;
  opacity: 0;
  transition: opacity ease-out .4s;
}

.left-menu-wrapping .left-menu .nav-item .nav-item-three .nav-item {
  z-index: 1;
}

/*/left-menu*/
.content-top-wrap .dragon-image .dragon-middle-wrap {
  float: right;
  width: 82%;
  position: relative;
}

.content-top-wrap .dragon-image .dragon-middle {
  position: absolute;
  top: -119px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.content-top-wrap .dragon-image .dragon-middle img {
  max-width: inherit;
}

.content-top-wrap .tabulate-image {
  background-image: url("../images/header_border.png");
  height: 12px;
}

/*content-top*/
/*/content-top*/
.content-card-wrap-main {
  border-style: solid;
  border-width: 12px;
  border-image: url(../images/border-index.png) 12 fill round;
  background: url("../images/content-card-wrap-main-bg.jpg") center center;
  background-size: 100% 100%;
}

.content-card-wrap-main .content-card-top {
  background: url("../images/content-card-top-bg.jpg") center center no-repeat;
  border-bottom: 12px solid #4f4f51;
  border-image: url("../images/content-card-top-border.png") 12 round round;
  -webkit-border-image: url("../images/content-card-top-border.png") 12 round round;
  -moz-border-image: url("../images/content-card-top-border.png") 12 round round;
  margin-top: -1px;
  background-size: cover;
}

.content-card-wrap-main .content-card-top .content-card-left {
  width: 50%;
  float: left;
  text-align: center;
  padding: 20px 0px;
}

.content-card-wrap-main .content-card-top .content-card-right {
  width: 50%;
  float: left;
  text-align: center;
  padding: 20px 0px;
}

.content-card-wrap-main .content-card-top .content-card-description {
  display: inline-block;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  border-style: solid;
  border-width: 7px;
  border-image: url(../images/content-card-description.png) 7 fill;
  border-radius: 14px;
}

.content-card-wrap-main .content-card-top .content-card-description .content-card-description-wrap {
  padding: 9px 15px;
}

.content-card-wrap-main .content-card-left {
  float: left;
  width: 42%;
}

.content-card-wrap-main .content-card-right {
  float: left;
  width: 42%;
}

.content-card-wrap-main .content-card-field-center {
  float: left;
  width: 16%;
  border-style: solid;
  margin-top: -37px;
  border-width: 38px 56px;
  border-image: url(../images/content-card-field-center-border.png) 38 56 fill round;
}

.content-card-wrap-main .content-card-field-center-wrap {
  margin: -1px -20px -11px;
  text-align: center;
  font-size: 17px;
  color: #d8ac4a;
  font-family: 'indisplay',sans-serif;
}

.content-card-wrap-main .content-card-center-title {
  padding: 27px 0px;
  background: url("../images/content-card-field-center-wrap-bg-top.jpg") center center no-repeat;
  background-size: 100% 100%;
}

.content-card-wrap-main .content-card-center-block {
  padding: 0 2px;
  background: url(../images/content-card-field-center-wrap-bg.jpg) center center no-repeat;
  background-size: 100% 100%;
}

.content-card-wrap-main .content-card-center-img-wrap {
  background-color: #000;
  margin-bottom: 2px;
}

.content-card-wrap-main .content-card-center-description-block {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0px 0px 10px;
}

.content-card-wrap-main .content-card-center-description-key {
  font-size: 15px;
  padding: 14px 0px;
}

.content-card-wrap-main .content-card-center-description-value {
  color: #ffb000;
  font-size: 15px;
  padding-bottom: 15px;
}

.content-card-wrap-main .content-card-field-top {
  position: relative;
}

.content-card-wrap-main .content-card-field-top .content-card-field-top-left, .content-card-wrap-main .content-card-field-top .content-card-field-top-right {
  float: left;
  width: 42%;
  height: 1px;
}

.content-card-wrap-main .content-card-field-top .content-card-field-top-center {
  float: left;
  width: 16%;
  position: relative;
  height: 1px;
}

.content-card-wrap-main .content-card-field-top .content-card-field-top-center:after {
  position: absolute;
  content: "";
  height: 16px;
  width: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  border-style: solid;
  border-width: 37px 56px 0px;
  border-image: url(../images/content-card-field-center-border.png) 37 56 0 fill repeat;
  top: -36px;
}

.content-card-wrap-main .content-card-field-bottom {
  position: relative;
}

.content-card-wrap-main .content-card-field-bottom .content-card-field-bottom-left, .content-card-wrap-main .content-card-field-bottom .content-card-field-bottom-right {
  float: left;
  width: 42%;
  height: 1px;
}

.content-card-wrap-main .content-card-field-bottom .content-card-field-bottom-center {
  float: left;
  width: 16%;
  position: relative;
  height: 1px;
}

.content-card-wrap-main .content-card-field-bottom .content-card-field-bottom-center:after {
  position: absolute;
  content: "";
  height: 16px;
  width: 100%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  left: 50%;
  border-style: solid;
  border-width: 0px 53px 37px 52px;
  border-image: url(../images/content-card-field-center-border.png) 0 53 37 52 round repeat;
  bottom: -36px;
}

/*main page*/
.main_page.rase_1 .content-wrap .rase_1 {
  display: block;
}

.main_page .content-wrap {
  width: 85%;
  margin-right: 0;
  padding-top: 0;
  overflow: hidden;
  /*max-height: 831px;*/
}

.main_page .content-wrap .rase {
  overflow: hidden;
}

.main_page .content-wrap img {
  /*max-width: none;*/
}

.main_page .left-menu-wrapping {
  height: 100%;
}

.main_page .left-menu-wrapping .left-menu {
  height: 100%;
}

.main_page .left-menu-wrapping .left-menu:after {
  top: -21px;
}

/*/main page*/
/*refil page*/
.refil .refil_title {
  color: #d8ac4a;
  font-size: 30px;
  padding-top: 30px;
  text-transform: uppercase;
  padding-left: 1%;
  font-family: 'indisplay',sans-serif;
  font-weight: 200;
}

.refil .refil_top_form_wrap {
  text-align: center;
  padding-top: 40px;
}

.refil .refil_top_form_wrap .refil_top_item {
  display: inline-block;
  vertical-align: top;
  width: 18%;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 2%;
  font-size: 16px;
  color: #fff;
  height: 85px;
  border: 1px solid #965c09;
  border-radius: 7px;
}

.refil .refil_top_form_wrap .refil_top_item.refil_top_1 {
  width: 26%;
}

.refil .refil_top_form_wrap .refil_top_item.refil_top_1 .side_left {
  width: 60%;
  font-size: 14px;
}

.refil .refil_top_form_wrap .refil_top_item.refil_top_1 .side_right {
  width: 40%;
}

.refil .refil_top_form_wrap .refil_top_item.refil_top_2 .side_left {
  width: 30%;
}

.refil .refil_top_form_wrap .refil_top_item.refil_top_2 .side_right {
  width: 75%;
}

.refil .refil_top_form_wrap .refil_top_item.refil_top_4 {
  width: 21%;
}

.refil .refil_top_form_wrap .refil_top_item.refil_top_4 .side_left {
  width: 25%;
}

.refil .refil_top_form_wrap .refil_top_item.refil_top_4 .side_right {
  width: 75%;
}

.refil .refil_top_form_wrap .refil_top_item.refil_top_4 .side_right .refil_buy {
  font-size: 15px;
}

.refil .refil_top_form_wrap .refil_top_item_wrap {
  display: table;
  height: 100%;
  width: 100%;
  padding: 0 13px;
  box-sizing: border-box;
}

.refil .refil_top_form_wrap .refil_top_side {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  box-sizing: border-box;
}

.refil .refil_top_form_wrap .refil_top_input {
  text-align: center;
}

.refil .refil_top_form_wrap .refil_top_input input {
  max-width: 145px;
  display: inline-block;
  background-color: #453f3c;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #d8ac4a;
}

.refil .refil_top_form_wrap .refil_buy {
  color: #d8ac4a;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #5a3506;
  border: 1px solid #6c6764;
  border-radius: 5px;
  padding: 3px 15px;
  margin-top: 3px;
  display: inline-block;
  text-decoration: none;
  transition: all ease-out .3s;
}

.refil .refil_top_form_wrap .refil_buy:hover {
  color: #5a3506;
  background-color: #d8ac4a;
}

.refil .refil_middle_form {
  padding-top: 84px;
}

.refil .refil_middle_form .refil_middle_head {
  border: 1px solid #965c09;
  border-radius: 7px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.55% 3%;
}

.refil .refil_middle_form .refil_middle_head_item.item_left {
  float: left;
}

.refil .refil_middle_form .refil_middle_head_item.item_right {
  float: right;
}

.refil .refil_middle_form .refil_middle_head_item .refil_head_monitor {
  width: 23px;
  height: 23px;
  background: url("../images/refil_head_monitor.png") center center no-repeat;
  margin-right: 5px;
}

.refil .refil_middle_form .refil_middle_head_item .refil_head_human {
  width: 23px;
  height: 23px;
  background: url("../images/refil_head_human.png") center center no-repeat;
  margin-right: 5px;
}

.refil .refil_middle_form .refil_middle_head_item span {
  display: inline-block;
  vertical-align: middle;
  color: #d8ac4a;
  font-size: 16px;
}

.refil .refil_middle_form .refil_middle_body {
  text-align: center;
  padding-top: 50px;
  border: 1px solid #965c09;
  border-radius: 7px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
}

.refil .refil_middle_form .refil_middle_body .refil_middle_item {
  vertical-align: top;
  height: 145px;
  border-radius: 4px;
  overflow: hidden;
  width: 10%;
  display: inline-block;
  margin: 0 1.9%;
  margin-bottom: 50px;
}

.refil .refil_middle_form .refil_middle_body .refil_middle_item a {
  display: block;
  color: #000;
  font-size: 18px;
}

.refil .refil_middle_form .refil_middle_body .refil_middle_item a:hover {
  text-decoration: none;
}

.refil .refil_middle_form .refil_middle_body .refil_middle_item a:hover .refil_middle_item_text {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.refil .refil_middle_form .refil_middle_body .refil_middle_item .refil_middle_item_img {
  display: block;
  height: 115px;
  position: relative;
  background-color: #c0bab8;
}

.refil .refil_middle_form .refil_middle_body .refil_middle_item .refil_middle_item_img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 9px;
}

.refil .refil_middle_form .refil_middle_body .refil_middle_item .refil_middle_item_text {
  display: block;
  height: 30px;
  line-height: 30px;
  background-color: #f3f1f1;
  padding: 0 2px;
}

/*/refil page*/
/*market page*/
.market-page {
  position: relative;
  z-index: -1;
}

.market-page .selection-rase {
  text-align: center;
  padding-top: 35px;
  vertical-align: middle;
}

.market-page .selection-rase .jq-selectbox {
  width: 335px;
}

.market-page .selection-rase .jq-selectbox__select {
  height: 50px;
  padding: 0 58px 0 0px;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'indisplay',sans-serif;
  color: #ecbd53;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 45px;
  box-shadow: none;
  text-shadow: none;
  background-color: rgba(231, 185, 81, 0.2);
}

.market-page .selection-rase .jq-selectbox__select:hover .jq-selectbox__trigger-arrow {
  border-top-color: #FFDC2E;
}

.market-page .selection-rase .jq-selectbox__select-text {
  height: 100%;
  background: url("../images/left-menu-item-border-bg.png") center center no-repeat;
  background-size: 100% 100%;
}

.market-page .selection-rase .jq-selectbox__trigger {
  border-left: none;
  width: 58px;
  background: url("../images/market_arrow.png") center center no-repeat;
  background-size: 100% 100%;
}

.market-page .selection-rase .jq-selectbox__trigger-arrow {
  position: absolute;
  top: 21px;
  right: 22px;
  width: 0px;
  height: 0;
  border-top: 7px solid #e7b951;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.market-page .selection-rase .jq-selectbox__dropdown {
  width: 83%;
  border: none;
  background: url("../images/market_select_bg.png") center center no-repeat;
  background-size: cover;
}

.market-page .selection-rase .jq-selectbox li {
  height: 50px;
  background: url("../images/left-menu-item-border-bg.png") center center no-repeat;
  background-size: 100% 100%;
  color: #ecbd53;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
}

.market-page .selection-rase .jq-selectbox li:hover {
  text-shadow: 0 0 1px #ecbd53;
}

.market-page .selection-rase .selection-rase-img {
  display: inline-block;
  height: 50px;
  width: 75px;
  background: url("../images/market_arrow.png") center center no-repeat;
  background-size: 100% 100%;
  vertical-align: bottom;
  margin-right: -3px;
}

.market-page .selection-rase .selection-rase-img .selection-rase-img-wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.market-page .selection-rase .selection-rase-img .selection-rase-img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*/market page*/
/*settings*/
.settings-page {
  text-align: center;
  padding-top: 85px;
}

.settings-page .form-wrap {
  min-width: 530px;
}

.settings-page .form-wrap .form-wrap-main {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 35px 15px 35px 15px;
}

.settings-page .form-wrap .form-wrap-row .form-wrap-value {
  width: 275px;
}

.settings-page .form-wrap .form-description-settings-img-wrap {
  border-radius: 50%;
  overflow: hidden;
  height: 79px;
  width: 79px;
  margin: 0 auto;
}

.settings-page .form-wrap .form-description-settings-inp-wrap .jq-file {
  width: 120px;
  margin: 0 auto;
  position: relative;
  background: url("../images/settings_input_file.png") center bottom no-repeat;
}

.settings-page .form-wrap .form-description-settings-inp-wrap .jq-file .jq-file__name {
  padding: 0;
  font-size: 12px;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'indisplay',sans-serif;
  color: #ecbd53;
  font-size: 16px;
  box-shadow: none;
  text-shadow: none;
}

.settings-page .form-wrap .form-description-settings-inp-wrap .jq-file__name {
  height: 50px;
}

/*/settings*/
