/* content cards */
.content-card-cards-wrap {
  padding: 15px 15px 15px 15px;
}

.content-card-cards-wrap ul {
  min-height: 620px;
}

.content-card-cards-wrap ul li {
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: transform 500ms ease;
  -ms-transition: transform 500ms ease;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
}

.content-card-cards-wrap ul li.ui-sortable-helper {
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
}

.content-card-cards-wrap ul li.ui-sortable-placeholder {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  visibility: visible !important;
}

.content-card-item {
  width: 30%;
  margin-right: 2.5%;
  margin-bottom: 25px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.content-card-field {
  height: 660px;
  margin-bottom: -1px;
  overflow: hidden;
}

.content-card-cards {
  height: 660px;
  overflow: visible !important;
}

.content-card-cards:focus {
  outline: none;
}

.content-card-cards .jspVerticalBar {
  display: none;
}

.content-card-cards .jspContainer {
  overflow: visible;
}

/* /content cards */
/* forms header */
.forms-header {
  height: 57px;
  position: relative;
  z-index: 0;
  background-image: url(../images/forms-footer-bg.jpg);
}

.forms-header:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12px;
  background-image: url(../images/header_border.png);
}

.forms-language {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 47px;
  margin-top: -47px;
  text-align: right;
  padding-right: 15px;
}

.forms-language .form-language-wrap {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border: 2px solid transparent;
  transition: border-color 500ms ease;
  -webkit-transition: border-color 500ms ease;
  -moz-transition: border-color 500ms ease;
  -ms-transition: border-color 500ms ease;
}

.forms-language .form-language-wrap:last-child {
  margin-right: 0;
}

.forms-language .form-language-wrap:hover, .forms-language .form-language-wrap.active {
  border-color: #ffb000;
}

/* /forms header */
/* forms content */
.form-autorize-main {
  position: relative;
  margin-bottom: 20px;
}

.form-autorize-main .form-autorize-item, .form-autorize-main .form-autorize-show-more {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 5px;
  cursor: pointer;
  position: relative;
}

.form-autorize-main .form-autorize-item a, .form-autorize-main .form-autorize-show-more a {
  display: inline-block;
  position: relative;
}

.form-autorize-main .form-autorize-item a img, .form-autorize-main .form-autorize-show-more a img {
  position: relative;
  z-index: 0;
}

.form-autorize-main .form-autorize-item a img.hover-img, .form-autorize-main .form-autorize-show-more a img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
}

.form-autorize-main .form-autorize-item a:hover img.hover-img, .form-autorize-main .form-autorize-show-more a:hover img.hover-img {
  opacity: 1;
}

.form-autorize-main .form-autorize-show-more .form-autorizr-more-icon {
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
  background-color: #999999;
  position: relative;
  transition: background-color 300ms ease;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
}

.form-autorize-main .form-autorize-show-more .form-autorizr-more-icon:before {
  content: '';
  position: absolute;
  left: calc(50% - 7px);
  top: calc(50% - 5px);
  display: block;
  width: 0;
  height: 0;
  border-width: 9px 7px 0 7px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  transform-origin: 50% 40%;
  -webkit-transform-origin: 50% 40%;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transition: -webkit-transform 300ms ease;
  -moz-transition: transform 300ms ease;
  -ms-transition: transform 300ms ease;
}

.form-autorize-main .form-autorize-show-more .form-autorize-more {
  padding: 5px 5px 5px 5px;
  background-color: rgba(132, 132, 134, 0.8);
  position: absolute;
  z-index: -100;
  right: 0;
  top: 100%;
  opacity: 0;
  transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
}

.form-autorize-main .form-autorize-show-more .form-autorize-more .form-autorize-more-item {
  width: 35px;
  height: 35px;
}

.form-autorize-main .form-autorize-show-more:hover .form-autorizr-more-icon {
  background-color: orange;
}

.form-autorize-main .form-autorize-show-more:hover .form-autorizr-more-icon:before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.form-autorize-main .form-autorize-show-more:hover .form-autorize-more {
  opacity: 1;
  z-index: 1;
}

.form-block {
  min-height: 100vh;
  background-image: url(../images/forms-footer-bg.jpg);
  background-position: center bottom;
}

.forms-main {
  position: relative;
  margin-top: -57px;
  z-index: 1;
  overflow: hidden;
  height: 860px;
  text-align: center;
}

.forms-main .forms-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.forms-main .forms-img img {
  max-width: none;
  margin-left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.form-wrap {
  min-width: 470px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-style: solid;
  border-width: 37px 55px 37px 54px;
  border-image: url(../images/content-card-field-center-border.png) 37 55 37 54 fill repeat;
}

.form-wrap .form-wrap-main {
  margin: 0 -20px;
  background-image: url(../images/fon.jpg);
  background-position: center center;
  padding: 25px 15px 25px 15px;
}

.form-wrap .form-title {
  font-weight: 200;
  font-size: 30px;
  color: #d8ac4a;
  margin-bottom: 15px;
  text-align: center;
}

.form-wrap .form-description {
  font-weight: 200;
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.form-wrap .form-wrap-for-rows {
  display: inline-block;
  text-align: right;
}

.form-wrap .form-wrap-row {
  margin-bottom: 10px;
}

.form-wrap .form-wrap-row:last-child {
  margin-bottom: 0;
}

.form-wrap .form-wrap-row.submit {
  padding-top: 10px;
}

.form-wrap .form-wrap-row .form-wrap-key {
  font-weight: 200;
  font-size: 16px;
  color: #d8ac4a;
  display: inline-block;
  vertical-align: middle;
}

.form-wrap .form-wrap-row .form-wrap-value {
  display: inline-block;
  vertical-align: middle;
  width: 265px;
  padding-left: 15px;
}

.form-wrap .form-wrap-row .form-wrap-value input {
  width: 100%;
  border-radius: 3px;
  background-color: rgba(134, 132, 132, 0.45);
  font-size: 16px;
  color: #fff;
  font-weight: 200;
  line-height: 38px;
  height: 38px;
  padding: 0 15px;
  border: 1px solid transparent;
}

.form-wrap .form-wrap-row .form-wrap-value input:focus {
  outline: none;
}

.form-wrap .form-wrap-row .form-wrap-value textarea {
  width: 100%;
  border-radius: 3px;
  background-color: rgba(134, 132, 132, 0.45);
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  color: #fff;
  resize: none;
  border-color: transparent;
}

.form-wrap .form-wrap-row .form-wrap-value textarea:focus {
  outline: none;
}

.form-wrap .form-wrap-row .form-wrap-value .jq-selectbox {
  width: 100%;
}

.form-wrap .form-wrap-row .form-wrap-value .jq-selectbox .jq-selectbox__select {
  height: 38px;
  background: none;
  background-color: rgba(134, 132, 132, 0.45);
  border: none;
  box-shadow: none;
}

.form-wrap .form-wrap-row .form-wrap-value .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
  text-align: left;
  font-weight: 200;
  font-size: 16px;
  color: #fff;
  text-shadow: none;
  -webkit-text-shadow: none;
  line-height: 38px;
  height: 38px;
  font-family: 'indisplay',sans-serif;
}

.form-wrap .form-wrap-row .form-wrap-value .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger {
  border-left: 0;
}

.form-wrap .form-wrap-row .form-wrap-value .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  border-width: 7px 7px 0 7px;
  border-style: solid;
  border-color: #a6a6a6 transparent transparent transparent;
}

.form-wrap .form-wrap-row .form-wrap-value .jq-selectbox .jq-selectbox__dropdown {
  margin-top: -10px;
  background-color: #bbb8b6;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  padding: 5px 0 5px 0;
}

.form-wrap .form-wrap-row .form-wrap-value .jq-selectbox .jq-selectbox__dropdown li {
  text-align: left;
  font-size: 16px;
  color: #505050;
  padding: 0 20px 0 10px;
  position: relative;
  font-family: 'indisplay',sans-serif;
  line-height: 18px;
  min-height: 0;
}

.form-wrap .form-wrap-row .form-wrap-value .jq-selectbox .jq-selectbox__dropdown li:last-child {
  margin-bottom: 0;
}

.form-wrap .form-wrap-row .form-wrap-value .jq-selectbox .jq-selectbox__dropdown li.selected:before {
  content: '';
  display: block;
  position: absolute;
  right: 5px;
  top: calc(50% - 8px);
  background-image: url(../images/valid-icon.png);
  width: 15px;
  height: 15px;
}

.form-wrap .form-wrap-row .form-wrap-value .jq-selectbox .jq-selectbox__dropdown li:hover {
  color: #fff;
  background-color: orange;
}

.form-wrap .form-wrap-row .form-wrap-value .jq-selectbox.yellow-font .jq-selectbox__select .jq-selectbox__select-text {
  color: #d8ac4a;
}

.form-wrap .placeholder-form .form-wrap-value {
  padding-left: 0;
}

.form-wrap .error-text {
  display: none;
  text-align: center;
  font-size: 14px;
  color: #e62323;
  font-weight: 200;
  margin-bottom: 15px;
}

.form-wrap .error-text.show {
  display: block;
}

.form-wrap .error-text.hide-it {
  display: none !important;
}

.form_row .form_input {
  position: relative;
}

.form_row .form_input input::-webkit-input-placeholder {
  color: #d8ac4a;
}

.form_row .form_input input:-moz-placeholder {
  color: #d8ac4a;
}

.form_row .form_input input::-moz-placeholder {
  color: #d8ac4a;
}

.form_row .form_input input:-ms-input-placeholder {
  color: #d8ac4a;
}

.form_row .form_input .errorText {
  font-size: 0;
  color: transparent;
  position: absolute;
  width: 16px;
  height: 15px;
  display: block;
  right: -25px;
  top: 50%;
  margin-top: -8px;
  background-repeat: no-repeat;
  background-position: center center;
}

.form_row.error .form_input input, .form_row.error .form_input textarea {
  border-color: #89413d;
}

.form_row.error .errorText {
  background-image: url(../images/error-icon.png);
}

.form_row.valid .form_input:after {
  content: '';
  background-image: url(../images/valid-icon.png);
  display: block;
  right: -25px;
  top: 50%;
  margin-top: -8px;
  height: 15px;
  width: 15px;
  position: absolute;
}

.reCaptcha-wrap {
  margin-bottom: 20px;
  text-align: center;
}

.form-button {
  position: relative;
  background-image: url(../images/button-background.png);
  display: block;
  border: none;
  padding: 0;
  width: 100%;
}

.form-button:before, .form-button:after {
  content: '';
  position: absolute;
  height: 53px;
  top: 0;
}

.form-button:before {
  width: 69px;
  left: 0;
  background-image: url(../images/button-background-left.png);
}

.form-button:after {
  width: 63px;
  right: 0;
  background-image: url(../images/button-background-right.png);
}

.form-button .form-button-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/button-background-hover.png);
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
}

.form-button .form-button-hover:before, .form-button .form-button-hover:after {
  content: '';
  position: absolute;
  height: 53px;
  top: 0;
}

.form-button .form-button-hover:before {
  width: 69px;
  left: 0;
  background-image: url(../images/button-background-left-hover.png);
}

.form-button .form-button-hover:after {
  width: 63px;
  right: 0;
  background-image: url(../images/button-background-right-hover.png);
}

.form-button .form-button-text {
  display: inline-block;
  max-width: 263px;
  width: 100%;
  line-height: 53px;
  font-weight: 700;
  font-size: 14px;
  color: #571f02;
  padding: 0 63px 0 69px;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

.form-button:hover .form-button-hover {
  opacity: 1;
}

.form-links {
  max-width: 265px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

.form-links .form-links-item {
  width: 50%;
}

.form-links .form-links-item.left {
  float: left;
  text-align: left;
}

.form-links .form-links-item.right {
  float: right;
  text-align: right;
}

.form-links .form-links-item a {
  font-size: 14px;
  color: #fefefe;
  position: relative;
  font-weight: 200;
  text-decoration: none;
}

.form-links .form-links-item a:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  background-color: #fff;
  width: 0;
  transition: width 300ms ease;
  -webkit-transition: width 300ms ease;
  -moz-transition: width 300ms ease;
  -ms-transition: width 300ms ease;
}

.form-links .form-links-item a:hover:after {
  width: 100%;
}

/* /forms content */
/* forms footer */
.forms-footer {
  padding: 27px 15px 15px 15px;
  position: relative;
}

.forms-footer:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  height: 12px;
  left: 0px;
  width: 100%;
  background-image: url(../images/header_border.png);
}

.forms-footer .forms-footer-blocks {
  display: inline-block;
  width: calc(33.33% - 3px);
  font-weight: 200;
  color: #adadad;
  font-size: 14px;
}

.forms-footer .forms-footer-blocks.left {
  text-align: left;
}

.forms-footer .forms-footer-blocks.center {
  text-align: center;
}

.forms-footer .forms-footer-blocks.right {
  text-align: right;
}

.forms-footer-link a {
  text-decoration: none;
  color: #adadad;
  position: relative;
}

.forms-footer-link a:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  background-color: #adadad;
  width: 0;
  transition: width 300ms ease;
  -webkit-transition: width 300ms ease;
  -moz-transition: width 300ms ease;
  -ms-transition: width 300ms ease;
}

.forms-footer-link a:hover:after {
  width: 100%;
}

.companies-logo {
  text-align: center;
}

.companies-logo .companies-logo-wrap {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
  position: relative;
}

.companies-logo .companies-logo-wrap .hover-img {
  opacity: 0;
  transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.companies-logo .companies-logo-wrap:hover .hover-img {
  opacity: 1;
}

/* /forms footer */
/* markets_card */
.market-cards, .market-cards-wrap {
  height: 660px;
}

.market-cards-item {
  display: inline-block;
  width: calc(33.33% - 3px);
  text-align: center;
  vertical-align: top;
  margin-bottom: 50px;
}

.market-cards-item .market-cards-item-main {
  display: inline-block;
}

.market-cards-item .market-cards-item-img {
  margin-bottom: 10px;
}

.market-cards-item .market-cards-item-img img {
  box-shadow: 5px 3px 12px 0 rgba(0, 0, 0, 0.96);
  -webkit-box-shadow: 5px 3px 12px 0 rgba(0, 0, 0, 0.96);
  border-radius: 9px;
}

.market-cards-item .market-card-item-price {
  font-size: 15px;
  color: #ffb000;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(113, 74, 17, 0.74);
  -webkit-text-shadow: 1px 1px 1px rgba(113, 74, 17, 0.74);
  margin-bottom: 10px;
}

.market-cards-items-wrap {
  padding: 50px 0 0px 0;
}

.button-buy {
  background-image: url(../images/header_button1.png);
  width: 124px;
  height: 53px;
  line-height: 53px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffb000;
  font-size: 12px;
  text-shadow: 1px 1px 1px rgba(113, 74, 17, 0.74);
  -webkit-text-shadow: 1px 1px 1px rgba(113, 74, 17, 0.74);
  display: inline-block;
  transition: text-shadow 500ms linear, color 300ms ease;
  -webkit-transition: text-shadow 500ms linear, color 300ms ease;
  -moz-transition: text-shadow 500ms linear, color 300ms ease;
  -ms-transition: text-shadow 500ms linear, color 300ms ease;
}

.button-buy:hover {
  text-shadow: 1px 1px 2px yellow, 0 0 1em yellow;
  -webkit-text-shadow: 1px 1px 2px yellow, 0 0 1em yellow;
  text-decoration: none;
  color: #573204;
}

.market-cards-wrap:focus {
  outline: none;
}

.market-cards-wrap .jspVerticalBar {
  width: 28px;
  background-color: transparent;
}

.market-cards-wrap .jspTrack {
  margin-left: 2px;
  width: 24px;
  margin-right: 2px;
  background: #010102;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxMDEwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDE0MTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: linear-gradient(to right, #010102 0%, #141414 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010102', endColorstr='#141414',GradientType=1 );
}

.market-cards-wrap .jspArrow {
  height: 27px;
  width: 28px;
  background-image: url(../images/scroll-arrow.png);
  position: relative;
  background-position: left bottom;
}

.market-cards-wrap .jspArrow:after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../images/scroll-arrow-active.png);
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  background-position: left bottom;
}

.market-cards-wrap .jspArrow.jspDisabled:after {
  opacity: 0;
}

.market-cards-wrap .jspArrow.jspArrowUp, .market-cards-wrap .jspArrow.jspArrowUp:after {
  background-position: left top;
}

.market-cards-wrap .jspDrag {
  background-image: url(../images/scroll-drag.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center top;
}

/* /markets_card */
