/* fonts */
@font-face {
	font-family: 'slick';
	src: url('../fonts/slick.eot');
	src: local('O'),
	url('../fonts/slick.woff') format('woff'),
	url('../fonts/slick.ttf') format('truetype'),
	url('../fonts/slick.svg') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
    font-family: 'glyphicons';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: local('O'),
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/glyphicons-halflings-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/pfdindisplaypro-black.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-black.woff') format('woff'),
    url('../fonts/pfdindisplaypro-black.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-black.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-black.svg') format('svg');
    font-weight: 900;
    font-style: normal;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/pfdindisplaypro-blackit.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-blackit.woff') format('woff'),
    url('../fonts/pfdindisplaypro-blackit.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-blackit.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-blackit.svg') format('svg');
    font-weight: 900;
    font-style: italic;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/pfdindisplaypro-bold.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-bold.woff') format('woff'),
    url('../fonts/pfdindisplaypro-bold.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-bold.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/PFDinDisplayPro-BoldItalic.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-boldital.woff') format('woff'),
    url('../fonts/pfdindisplaypro-boldital.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-boldital.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-boldital.svg') format('svg');
    font-weight: bold;
    font-style: italic;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/pfdindisplaypro-italic.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-italic.woff') format('woff'),
    url('../fonts/pfdindisplaypro-italic.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-italic.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-italic.svg') format('svg');
    font-weight: normal;
    font-style: italic;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/pfdindisplaypro-light.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-light.woff') format('woff'),
    url('../fonts/pfdindisplaypro-light.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-light.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-light.svg') format('svg');
    font-weight: 300;
    font-style: normal;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/pfdindisplaypro-lightital.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-lightital.woff') format('woff'),
    url('../fonts/pfdindisplaypro-lightital.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-lightital.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-lightital.svg') format('svg');
    font-weight: 300;
    font-style: italic;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/pfdindisplaypro-med.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-med.woff') format('woff'),
    url('../fonts/pfdindisplaypro-med.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-med.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-med.svg') format('svg');
    font-weight: 500;
    font-style: normal;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/pfdindisplaypro-medital.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-medital.woff') format('woff'),
    url('../fonts/pfdindisplaypro-medital.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-medital.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-medital.svg') format('svg');
    font-weight: 500;
    font-style: italic;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/pfdindisplaypro-reg.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-reg.woff') format('woff'),
    url('../fonts/pfdindisplaypro-reg.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-reg.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-reg.svg') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/pfdindisplaypro-thin.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-thin.woff') format('woff'),
    url('../fonts/pfdindisplaypro-thin.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-thin.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-thin.svg') format('svg');
    font-weight: 200;
    font-style: normal;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/pfdindisplaypro-thinital.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-thinital.woff') format('woff'),
    url('../fonts/pfdindisplaypro-thinital.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-thinital.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-thinital.svg') format('svg');
    font-weight: 200;
    font-style: italic;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/pfdindisplaypro-xthin.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-xthin.woff') format('woff'),
    url('../fonts/pfdindisplaypro-xthin.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-xthin.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-xthin.svg') format('svg');
    font-weight: 100;
    font-style: normal;}

@font-face {
    font-family: 'indisplay';
    src: url('../fonts/pfdindisplaypro-xthinit.eot');
    src: local('O'),
    url('../fonts/pfdindisplaypro-xthinit.woff') format('woff'),
    url('../fonts/pfdindisplaypro-xthinit.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-xthinit.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-xthinit.svg') format('svg');
    font-weight: 100;
    font-style: italic;}

/* /fonts*/

/* helping adds*/
.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

.zHiddenBlock{position:absolute;left:-99999em;top:-99999em;}
/* /helping adds*/

/* base styles*/
html{height:100%}
body{min-height:100%;min-width:1280px;font-family: 'indisplay',sans-serif;font-size:12px;background:#fff;color:#3d3d3d;position:relative;background-image:url(../images/fon.jpg);background-position: center center;background-size: cover;}
img{vertical-align:bottom;border:0;max-width:100%;}
/* /base styles */


/* icons styling*/
/* /icons styling*/


/* base typo*/
.ctext h1,.ctext h2,.ctext h3,.ctext h4,.ctext h5,.mainheading,.subheading,.thirdheading,.fourheading,.fiveheading{font-weight:normal;margin-bottom:1em;}
a{color:#12c;border:0;}
a:hover{color:#dd4b39;}
p{margin:0;}
.mainheading,.ctext h1{}
.subheading,.ctext h2{}
.thirdheading,.ctext h3{}
.fourheading,.ctext h4{}
.fiveheading,.ctext h5{}
.ctext p{margin:0 0 10px 0;}
.ctext ul{margin:10px 20px;}
.ctext p:last-child,.ctext ul:last-child{margin-bottom:0;}
.ctext table{border-collapse:collapse;}
.ctext table tr td,.ctext table{border:1px solid;}
/* /base typo*/


/* wraps styling*/

.mbox{min-width:1280px;margin:0 auto;position:relative;z-index:1;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/


/*Layout*/

.left-menu-wrap{float: left;width: 15%;}
.content-wrap{float: right;width: 82%;margin-right: 1%;padding-top: 10px;}


.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;color:#646464;}
/*End Layout*/



