@media screen and (max-width: 1920px){

}
@media screen and (max-width:1600px){
    .mbox .header-box .rating .convert-resurses .resurses { display: block;}
    .mbox .header-box .rating { padding-top: 30px;}
    .mbox .header-box .rating p {vertical-align: top; padding-top: 30px;}
    .mbox .header-box .rating .convert-resurses .resurses {padding-bottom: 10px;}
}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}